.description {
  flex-basis: calc(100% / 6 * 4);
}

.featured {
  flex-basis: calc(100% / 6 * 2);
}

.cover {
  padding-top: var(--vertical-margin-large);
}

.img {
  width: 100%;
  min-height: 100px;
}

.note {
  padding-top: var(--gutter-double);
  color: var(--processing-blue-dark);
}
