.root {
  & h1,
  & h2 {
    flex-basis: var(--col8);
  }
  & p,
  & ul {
    flex-basis: var(--col5);
  }
}

.content {
  flex-basis: var(--col8);

  & p,
  & ul,
  & pre {
    max-width: 900px;
  }

  & li {
    list-style: disc;

    & pre {
      margin-top: var(--vertical-margin-small);
      margin-bottom: var(--vertical-margin-small);
    }
  }
}
