.root {
  position: fixed;
  top: 130px;
  right: var(--margin);
  width: var(--col1);
  float: right;
  text-align: center;
  z-index: 1;
  padding: var(--vertical-margin-small) 4px;

  transition: top 0.2s ease;
  & .text {
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.2s ease;
  }

  & h3 {
    color: var(--processing-blue-mid);
    line-height: 1;
  }
  & p {
    line-height: 1.2;
    padding-bottom: 0.5rem;
  }
}
.root:hover {
  background-color: white;
}
.root.compact {
  top: 60px;
}
.compact .text {
  max-height: 0;
  padding-bottom: 0;
}
.compact:hover .text {
  max-height: 100px;
}

.character {
  max-width: 100%;
}
.donate {
  padding: calc(var(--gutter) / 2) var(--gutter);
  color: white;
  background-color: var(--processing-blue-dark);
  border-radius: 20px;
  transition: opacity 0.2s ease;
}

.compact .donate {
  opacity: 0;
}
.compact:hover .donate {
  opacity: 1;
}

@media (--medium) {
  .root p {
    font-size: var(--text-small);
  }
}

@media (--reduced) {
  .root,
  .root.compact {
    top: initial;
    bottom: 20px;
    width: var(--col2);
    &:hover {
      background-color: transparent;
    }
    & .text {
      display: none;
    }
    & .donate {
      opacity: 1;
    }
  }
}

@media (--small) {
  .root,
  .root.compact {
    width: var(--col2);
  }
}
