.colorPatch {
  display: inline-block;
  border-radius: 4px;
  line-height: 1em;
  padding: 1px 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.input {
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.input {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 10px;
}

.input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input::-webkit-color-swatch {
  border: none;
}

.input::-moz-color-swatch {
  border: none;
}
