input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 10px;
  height: 10px;
  margin-left: 0.8rem;
  margin-right: 0.2rem;
}

input[type="color"]:hover {
  outline: 2px solid lightgray;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}
