.root {
  cursor: ew-resize;
}

.color {
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.blur {
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.root input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 10px;
  height: 10px;
  margin-left: 0.8rem;
  margin-right: 0.2rem;
}

.root input[type="color"]:hover {
  outline: 2px solid lightgray;
}

.root input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.root input[type="color"]::-webkit-color-swatch {
  border: none;
}
