.hljs {
  display: block;
  overflow-x: auto;
  color: #333;
  background-color: var(--lightgray);
}

.hljs,
.hljs-subst {
  color: black;
}

.hljs-keyword {
  color: #33997e;
}

.hljs-function {
  color: #006699;
}

.hljs-title {
  color: #006699;
}
