@import "../../styles/variables.css";

.root {
  width: auto;
  height: auto;
  right: 0;
  position: relative;
}

svg {
  position: absolute;
}

.message {
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
  background-color: var(--lightgray);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.show {
  opacity: 0.8;
}

.message span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: var(--regular);
  text-align: center;
  color: var(--black);
  transform: translate(-50%, -50%);
}
