@import "../../styles/variables.css";

.root {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 650px;
  max-width: 650px;
  padding: 0px;
  font-family: var(--font-mono);
  font-size: 14px;
  white-space: pre;
  height: 600px;
  overflow: auto;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 2%,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: opacity 0.25s ease, transform 0.25s ease;
  opacity: 0;

  &.visible {
    transform: translateX(-90%);
    opacity: 1;
  }

  & h1 {
    font-family: var(--font);
  }

  & pre,
  & code {
    display: block;
    padding: 0;
    margin: 0;
  }

  & summary:after {
    content: "}";
    font-family: var(--font-mono);
    border-radius: 5px;
  }

  & details {
    padding-left: var(--gutter);

    & pre {
      display: inline-flex;
    }
  }

  & details[open] {
    & summary::after {
      content: "";
    }

    & .dots {
      visibility: hidden;
    }
  }

  & summary {
    cursor: pointer;
    &:hover {
      color: var(--processing-blue-dark);
    }

    &::-webkit-details-marker {
      color: var(--gray);
    }

    &::-webkit-details-marker:hover {
      color: var(--processing-blue-dark);
    }
  }
}

.dots {
  display: inline-block;
  background-color: var(--gray);
  font-weight: 700;
  font-size: 0.65em;
  height: 0.8rem;
  padding: 0 0.2rem;
  vertical-align: middle;
  line-height: 1;
  border-radius: 5px;
  &:hover {
    color: var(--lightgray);
  }
}

.showGrid {
  font-family: var(--font-mono);
  font-size: 14px;
  display: inline-block;
  border-style: none;
  font-size: inherit;
  padding: 0;
  padding: 0;
  text-decoration: underline;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  background: none;
  color: var(--black);
}

.showGrid:hover {
  background: var(--lightgray);
  color: var(--gray);
}

.code {
  position: absolute;
  padding-top: 20px;
  height: 100%;
  width: 100%;
  overflow-y: overlay;
  transition: max-width 0.4s ease;
  background-color: var(--lightgray);
  float: right;
  right: 0;
  z-index: 1;
}

.summary {
  outline: none;
  box-shadow: none;
}

.toggleShape {
  margin-left: -54px;
  margin-right: 34px;
  width: 20px;
  padding: 0;
  background-color: var(--gray);
  color: var(--black);
  border-radius: 5px;
}

.link {
  position: absolute;
  z-index: 100;
  bottom: var(--margin-quarter);
  right: var(--margin-quarter);
}

.link:hover {
  color: white;
  background-color: var(--processing-blue-dark);
}

.inCode {
  width: 100%;
  padding-left: var(--gutter-double);
}

.inCode pre,
.inCode code {
  display: inline;
}

.codeStrokes {
  display: block;
  padding-left: 34px;
  margin-bottom: 0px;
}
