@import "../../styles/variables.css";

.root {
  flex-basis: 100%;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid var(--gray);
  font-family: var(--font-mono);
  font-size: 14px;
  white-space: pre;
  user-select: none;

  & h1 {
    font-family: var(--font);
  }

  & pre,
  & code {
    background-color: white;
    display: inline;
    padding: 0;
    margin: 0;
  }
}

.root summary {
  list-style: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;

  &:hover {
    color: var(--processing-blue-dark);
  }

  &::-webkit-details-marker {
    color: var(--gray);
  }

  &::-webkit-details-marker:hover {
    color: var(--processing-blue-dark);
  }
}

.root summary .line {
  display: inline-block;
}

.num {
  display: inline-block;
  background-color: var(--processing-blue-dark);
  text-align: right;
  color: white;
  padding: 0 5px;
  margin-right: 10px;
  width: 30px;
  font-size: 12px;
  line-height: 23px;
}

.folded {
  display: inline-block;
}

.root details[open] .folded {
  display: none;
}

.interactive {
  background-color: white;
  padding: 0 3px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.line:hover .interactive {
  background-color: #e9f4ff;
}

.toggleShape {
  margin-left: -54px;
  margin-right: 34px;
  width: 20px;
  padding: 0;
  background-color: var(--gray);
  color: var(--black);
  border-radius: 5px;
}

.link {
  position: absolute;
  z-index: 100;
  bottom: var(--margin-quarter);
  right: var(--margin-quarter);
}

.link:hover {
  color: white;
  background-color: var(--processing-blue-dark);
}
