.root {
  background-image: linear-gradient(
    to right,
    white 20%,
    var(--processing-blue-gradient)
  );
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.left,
.right {
  flex-basis: var(--col4);
}

.left {
  overflow: hidden;
  display: flex;
}

.right {
  text-align: center;
  position: relative;
}

.splash,
.code {
  flex: 0 0 100%;
  margin-right: var(--gutter);
}

.code {
  transition: transform 0.5s;
}

.code.codeVisible {
  transform: translate(calc(-100% - var(--gutter)), 0);
}

@media (--reduced) {
  .root {
    flex-direction: row-reverse;
  }

  .left,
  .right {
    flex-basis: var(--col8);
  }

  .left {
    margin-bottom: var(--margin);
  }
}
