.root {
  & > h1 {
    flex-basis: var(--col8);
  }

  & > h3 {
    flex-basis: var(--col8);
    padding-right: var(--push4);
  }
}

.content {
  flex-basis: var(--col8);
  padding-left: var(--push1);
  padding-right: var(--push2);
  margin-bottom: var(--vertical-margin-large);

  & h2 {
    font-size: var(--text-large);
    margin-top: var(--vertical-margin-large);
    margin-bottom: 1rem;
  }

  & h3 {
    margin-top: var(--vertical-margin-large);
  }

  & ul {
    padding-bottom: 20px;
    font-family: "Vollkorn", serif;
    font-size: var(--text-medium);
    line-height: 1.6em;
    list-style-type: none;

    & li {
      font-family: inherit;
      margin-bottom: 10px;
      padding-left: 1em;
    }

    & li:before {
      content: "• ";
      float: left;
      font-family: var(--font);
      font-weight: 700;
      color: var(--processing-blue-dark);
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  & p {
    font-family: "Vollkorn", serif;
    font-size: var(--text-medium);
    line-height: 1.6em;

    & > pre {
      font-family: var(--font-mono);
      font-feature-settings: var(--font-mono-settings);
      font-size: var(--text-regular);
      font-style: normal;
    }

    & code {
      margin-bottom: 0;
      font-size: var(--text-regular);
    }

    & a {
      color: var(--processing-blue-dark);
      text-decoration: underline;

      &:hover {
        color: var(--processing-blue-mid);
      }

      &:active {
        color: var(--processing-blue-light);
      }
    }
  }

  & h4 {
    border-left: solid var(--lightgray) 6px;
    padding-left: 10px;
  }
}

@media (--small) {
  .root {
    & > h1 {
      padding-top: var(--vertical-margin-large);
    }
    & > h3 {
      padding-right: 0;
      flex-basis: var(--col8);
    }
  }

  .content {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
