.root {
  & > h1 {
    flex-basis: var(--col8);
  }

  & > h3 {
    flex-basis: var(--col5);
  }
}

.booksList {
  margin: var(--gutter-double) 0;
  display: flex;
  list-style: none;
  flex-flow: wrap;

  & li {
    display: flex;
    flex-direction: row;

    & h4 {
      margin-bottom: 0;
    }
  }
}

.listItem {
  flex-basis: var(--col4);
  margin-bottom: var(--margin);
}

.cover {
  flex-basis: var(--col2);
  width: 100%;

  & img {
    object-fit: contain !important;
    object-position: top center !important;
  }
}

.book {
  flex-basis: var(--col6);
}

.details {
  color: var(--darkergray);
  font-size: var(--text-small);
}

.author {
  font-size: var(--text-regular);
  margin-bottom: var(--gutter);
}

.test {
  color: blue;
  list-style: circle;
}

.read {
  margin-top: var(--gutter);
}

@media (--small) {
  .root {
    & > h1 {
      padding-top: var(--vertical-gutter);
    }
    & > h3 {
      padding-right: 0;
      flex-basis: var(--col8);
    }
  }

  .booksList {
    & > li {
      flex-basis: var(--col8);
      padding: var(--vertical-gutter) var(--gutter);
      border-bottom: 2px solid var(--lightgray);
    }

    & > li:last-of-type {
      border-bottom: none;
    }
  }

  .cover {
    flex-basis: var(--col3);
  }

  .book {
    flex-basis: var(--col5);
  }
}
