.root {
  & > h1 {
    flex-basis: cols(8, 8);
  }

  & > h3 {
    flex-basis: cols(5, 8);
  }
}

.booksList {
  margin: var(--gutter-double) 0;
  display: flex;
  list-style: none;
  flex-flow: wrap;

  & li {
    display: flex;
    flex-direction: row;

    & h4 {
      margin-bottom: 0;
    }
  }
}

.listItem {
  flex-basis: cols(4, 8);
  margin-bottom: var(--margin);
}

.cover {
  flex-basis: cols(2, 8);
  width: 100%;
}

.book {
  flex-basis: cols(6, 8);
}

.details {
  color: var(--darkgray);
  font-size: var(--text-small);
}

.author {
  font-size: var(--text-regular);
  margin-bottom: var(--gutter);
}

.test {
  color: blue;
  list-style: circle;
}

.read {
  margin-top: var(--gutter);
}
