.root {
  & > h1 {
    flex-basis: var(--col8);
  }

  & > h3 {
    flex-basis: var(--col8);
    padding-right: var(--push4);
  }
}

.donateWrapper {
  flex-basis: var(--col8);
}

.donate {
  width: 100%;
  height: 550px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  padding-left: var(--gutter);
}

.content {
  flex-basis: var(--col8);
  padding-right: var(--push3);
  margin-bottom: var(--vertical-margin-large);
  font-family: "Vollkorn", serif;
  font-size: var(--text-medium);
  line-height: 1.6em;
}

@media (--small) {
  .root {
    & > h1 {
      padding-top: var(--vertical-margin-large);
    }
    & > h3 {
      padding-right: 0;
      flex-basis: var(--col8);
    }
  }

  .donate {
    padding-left: 0px;
  }

  .content {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
