.root {
}

.left {
  flex-basis: var(--col4);
}
.right {
  flex-basis: var(--col2);
  position: relative;
}

.character {
  margin-top: 40px;
  width: 80%;
}
.donate {
  width: 100%;
  height: 550px;
  margin-top: var(--vertical-margin-small);
  margin-bottom: var(--vertical-margin-small);
  border: none;
}

.content {
  margin-bottom: var(--vertical-margin-large);
  font-family: "Vollkorn", serif;
  font-size: var(--text-medium);
  line-height: 1.6em;
}
@media (--large) {
  .left {
    flex-basis: var(--col5);
  }
  .right {
    flex-basis: var(--col3);
  }
}

@media (--reduced) {
  .left {
    flex-basis: var(--col6);
  }
  .right {
    margin-top: 50px;
    flex-basis: var(--col2);
  }
}

@media (--small) {
  .left {
    flex-basis: var(--col8);
    & > h1 {
      padding-top: var(--vertical-margin-large);
    }
    & > h3 {
      padding-right: 0;
      flex-basis: var(--col8);
    }
  }

  .right {
    display: none;
  }
}
