.root {
  & h1 {
    flex-basis: var(--col8);
  }
  & h3 {
    flex-basis: var(--col4);
    margin-right: var(--col4);
  }
  & p {
    flex-basis: var(--col5);
  }
}

.latestVersionsWrapper {
  display: inline-flex;
  flex-basis: var(--col4);
}

.latestVersion {
  flex-basis: var(--col4);
  color: var(--processing-blue-dark);
  &:hover {
    color: var(--processing-blue-light);
    & .latestVersionBit {
      color: inherit;
    }
  }

  & h3 {
    display: inline;

    &:hover {
      color: inherit;
    }
  }
}

.latestLabel {
  flex-basis: var(--col8);
}

.section {
  margin: var(--gutter-double) 0;
  flex-basis: var(--col6);
  align-items: self-start;
}

.logo {
  text-align: center;
  flex-basis: var(--col2);
  & svg {
    width: 100px;
    height: 100px;
  }
}

.latestNumber {
  font-weight: bold;
}

.latestDate {
  font-size: var(--text-xsmall);
  color: var(--darkergray);
}

.latestVersionName {
  font-size: var(--text-large);
  font-weight: 700;
}

.latestVersionBit {
  padding-left: 0.3rem;
  font-size: var(--text-xsmall);
  font-weight: normal;
  color: var(--black);
}

.sectionList {
  flex-basis: var(--col7);
  margin-left: var(--col1) !important;
  padding: var(--gutter) 0 var(--gutter-double);
  padding-left: var(--col1);
}

.releaseList {
  width: 100%;
  font-size: var(--text-small);
}

.releaseRow {
  display: flex;
  padding-bottom: 6px;
  & a {
    color: var(--processing-blue-mid);
  }
}

.releaseName {
  flex-basis: var(--col1);
}

.releaseDate {
  font-size: var(--text-xsmall);
  flex-basis: var(--col2);
  color: var(--darkergray);
}

.releaseList {
  width: 100%;
  font-size: var(--text-small);
}

.assetLabel {
  white-space: nowrap;
}

.assetSeparator {
  padding: 0 4px;
}

.links {
  border-left: solid 7px var(--lightgray);
  color: var(--processing-blue-dark);
  font-weight: 700;
}
