.root {
  & > h1 {
    flex-basis: var(--col8);
  }
  & > h3 {
    flex-basis: var(--col8);
    padding-right: var(--col4);
  }
  & > p {
    flex-basis: var(--col5);
  }

  @media (--small) {
    & > h1 {
      padding-top: var(--vertical-gutter);
    }
    & > h3 {
      padding-right: 0;
      flex-basis: var(--col8);
    }

    & > p {
      flex-basis: var(--col8);
    }
  }
}

.latestVersionsWrapper {
  display: inline-flex;
  flex-basis: var(--col4);

  @media (--small) {
    flex-basis: var(--col5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.latestVersion {
  flex-basis: var(--col4);
  color: var(--processing-blue-dark);
  &:hover {
    color: var(--processing-blue-light);
    & .latestVersionBit {
      color: inherit;
    }
  }

  & h3 {
    display: inline;

    &:hover {
      color: inherit;
    }
  }
}

.latestLabel {
  flex-basis: var(--col8);
}

.section {
  margin: var(--gutter-double) 0;
  flex-basis: var(--col8);
  align-items: self-start;
}

.logo {
  text-align: center;
  flex-basis: var(--col1);
  & svg {
    width: 90px;
    height: 90px;
  }

  @media (--small) {
    flex-basis: var(--col3);
    padding-right: var(--col1);

    & h3 {
      font-size: var(--text-regular);
    }

    & svg {
      width: 70px;
      height: 70px;
    }
  }
}

.latestNumber {
  font-weight: bold;
}

.latestDate {
  font-size: var(--text-xsmall);
  color: var(--darkgray);
}

.latestVersionName {
  font-size: var(--text-large);
  font-weight: 700;
}

.latestVersionBit {
  padding-left: 0.3rem;
  font-size: var(--text-xsmall);
  font-weight: normal;
  color: var(--black);
}

.sectionList {
  flex-basis: var(--col8);
  padding: var(--gutter) 0 var(--gutter-double);
}

.releaseList {
  width: 100%;
  font-size: var(--text-small);
}

.releaseRow {
  display: flex;
  padding-bottom: 6px;

  & a {
    color: var(--processing-blue-mid);
  }

  @media (--small) {
    flex-wrap: wrap;
  }
}

.releaseName {
  flex-basis: var(--col1);

  @media (--small) {
    flex-basis: var(--col2);
  }
}

.releaseDate {
  font-size: var(--text-xsmall);
  color: var(--darkgray);
  flex-basis: var(--col2);

  @media (--small) {
    flex-basis: var(--col6);
  }
}

.releaseAssets {
  flex-basis: var(--col4);

  @media (--small) {
    flex-basis: var(--col8);
    padding-left: var(--push2);
  }
}

.assetLabel {
  white-space: nowrap;
}

.assetSeparator {
  padding: 0 4px;
}

.links {
  margin: var(--vertical-gutter) 0;
  border-left: solid 7px var(--lightgray);
  color: var(--processing-blue-dark);
  font-weight: 700;
}
