.text {
  flex-basis: var(--col8);

  & h3 {
    max-width: 500px;
  }
}

.filter {
  flex-basis: var(--col6);
}

@media (--reduced) {
  .filter {
    flex-basis: var(--col8);
  }
}

@media (--small) {
  .root {
    & > h1 {
      padding-top: var(--vertical-gutter);
    }
  }
}
