.root {
  & p {
    margin-top: var(--gutter-half);
  }
}

.collapsed {
  margin-left: 0;
  transition: 0.4s ease;
}

.expanded {
  margin-left: 100px;
  transition: 0.4s ease;
}

.section {
  margin-bottom: var(--vertical-gutter);

  & > h1 {
    flex-basis: cols(4, 8);
  }

  & > h3 {
    flex-basis: cols(4, 8);
  }
}

.description {
  flex-basis: cols(5, 8);
}

.featured {
  flex-basis: cols(2, 8);
}

.related {
  flex-basis: cols(4, 8);
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;

  & li {
    margin-right: var(--gutter);
    & a span {
      display: block;
      padding-top: 4px;
      color: var(--processing-blue-mid);
    }

    & a span:hover {
      color: var(--processing-blue-light);
    }
  }
}

.placeholder {
  background-color: var(--gray);
  height: 150px;
  width: 150px;
  padding-right: var(--gutter);
}

.note {
  flex-basis: cols(6, 8);
  padding-top: var(--gutter-double);
  color: var(--processing-blue-dark);
}
