.hero {
  padding: 60px 0;

  & h1 {
    margin-bottom: var(--margin-half);
    font-size: var(--text-xxxlarge);
  }

  & p {
    font-size: var(--text-large);
  }
}

.section {
  padding-bottom: var(--margin);
  padding-top: var(--margin);
}

.divider {
  border-bottom: 30px solid var(--lightgray);
}

.sectionDivider {
  flex-basis: var(--col8);
  height: 30px;
  background-color: var(--lightgray);
}

.half {
  flex-basis: var(--col4);
}

.intro {
  display: flex;
  flex-basis: var(--col4);
  flex-direction: column;
  z-index: 1;
  height: 100%;
  padding-top: calc(var(--margin) * 2);
  padding-bottom: var(--margin);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: var(--margin) 0;
}

.button {
  margin-right: var(--gutter-double);
}

/* Getting Started */

.gettingStarted {
  @mixin grid;
}

.gettingStartedMessage,
.cardGrid {
  @mixin column 4;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline;
  align-items: center; */
  margin-top: calc(-1 * var(--margin));
  margin-bottom: calc(-1 * var(--margin));
  /* padding-left: var(--gutter); */
}

.card {
  flex: 0 0 50%;
  text-align: center;
  font-size: var(--text-small);
}

.card:active {
  border-color: var(--processing-blue-mid);
  background: var(--processing-blue-mid);
}

/* Examples */

.examples {
  @mixin grid;
}

.examplesHeading {
  @mixin column;
}

.example {
  @mixin column 2;
  cursor: pointer;

  & h4 {
    margin-top: var(--gutter-half);
    margin-bottom: 0px;
    color: var(--processing-blue-dark);
    transition: color 0.2s ease;
  }

  & p {
    cursor: pointer;
    transition: color 0.2s ease;
  }

  & .imgContainer {
    transition: opacity 0.2s ease;
    & > div {
      width: 100%;
    }
  }
}

.example:hover {
  & h4 {
    color: var(--processing-blue-mid);
  }

  & p {
    cursor: pointer;
  }

  & .imgContainer {
    opacity: 0.8;
  }
}

.imgContainer {
  display: flex;
  & > img {
    object-fit: cover;
  }
}

.imgContainer:before {
  display: block;
  padding-top: 100%;
  content: "";
}

.moreExamples {
  @mixin column;
  text-align: right;
}

.participate {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.participateButtton {
  display: inline-flex;
  flex: 1;
  align-items: flex-end;
}

.contributeButtton {
  margin-top: var(--gutter);
  display: inline-flex;
}

.externalLinks {
  & ul {
    columns: 2;

    & li {
      padding-top: var(--gutter-half);
    }

    & li a {
      color: var(--processing-blue-mid);
    }
  }
}

.partnersContainer {
  overflow-x: hidden;
}

.partners {
  display: inline-flex;
  text-align: center;

  & p {
    margin-top: var(--gutter-half);
    font-size: var(--text-small);
    text-align: center;
  }

  & li {
    flex-basis: var(--col2);
    margin-right: var(--gutter);

    & div {
      margin: 0 auto;
      height: 60px;
      width: 60px;
    }
  }
}

@media (--large) {
  .intro {
    padding-top: var(--margin);
    flex-basis: var(--col5);
  }
}

@media (--medium) {
  .hero {
    & h1 {
      font-size: var(--text-xxlarge);
    }
  }

  .half {
    flex-basis: var(--col8);
  }

  .intro {
    padding-top: calc(var(--margin) * 2);
    flex-basis: var(--col4);
  }

  .buttons {
    margin: var(--gutter-double) 0;
  }

  .button {
    margin-right: var(--gutter);
  }

  .cardGrid {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    & > .cardCol:first-child {
      padding-right: var(--gutter);

      & > div {
        border-right-width: 8px;
      }

      & > div:hover {
        border-right-width: 8px;
      }
    }

    & > .cardCol:last-child {
      padding-left: var(--gutter);

      & > div {
        border-left-width: 8px;
      }

      & > div:hover {
        border-left-width: 8px;
      }
    }
  }

  .cardCol {
    & > div:first-child {
      margin-bottom: var(--gutter);
      border-top-width: 8px;
      border-bottom-width: 8px;
    }

    & > div:first-child:hover {
    }

    & > div:last-child {
      margin-top: var(--gutter);
      border-top-width: 8px;
      border-bottom-width: 8px;
    }

    & > div:last-child:hover {
      border-top-width: 8px;
    }
  }

  .participateButtton,
  .contributeButtton {
    margin-bottom: var(--vertical-gutter);
  }
}

@media (--reduced) {
  .hero {
    min-height: auto;
    & h1 {
      font-size: var(--text-xxxlarge);
    }
  }

  .intro {
    flex-basis: var(--col8);
    height: auto;
    padding-right: calc(var(--margin) + var(--gutter));
    padding-top: var(--margin);
    justify-content: space-around;
  }

  .example {
    flex-basis: var(--col4);
  }

  .cardGrid {
    flex-direction: column;
    flex-wrap: nowrap;

    & .cardCol {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    & > .cardCol:first-child {
      margin-bottom: var(--gutter);
      padding-right: 0;
    }

    & > .cardCol:last-child {
      margin-top: var(--gutter);
      padding-left: 0;
    }
  }

  .card {
    height: auto;
  }
}

@media (--small) {
  .hero {
    min-height: auto;
    padding-right: var(--margin);
    & p {
      padding-top: var(--vertical-gutter);
      font-size: var(--text-medium);
    }
  }

  .intro {
    flex-basis: var(--col8);
    height: auto;
    padding-right: var(--gutter);
    padding-top: calc(var(--vertical-gutter) * 2);
    justify-content: space-around;
  }

  .buttons {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .button {
    margin-bottom: var(--vertical-gutter);
  }

  .examples {
    flex-basis: var(--col8);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    & ul {
      overflow-x: scroll;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    & li {
      flex: 0 0 auto;
    }
  }

  .example {
    width: 100%;
    flex-shrink: 0;
  }

  .partners {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;

    & li {
      flex: 0 0 auto;
      margin-right: 20px;
      max-width: 100px;
    }
  }

  .cardGrid {
    height: auto;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: nowrap;

    & .cardCol {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    & > .cardCol:first-child {
      margin-bottom: 0;
      padding-right: 0;
    }

    & > .cardCol:last-child {
      margin-top: 0;
      padding-left: 0;
    }
  }

  .cardCol {
    & > div:last-child {
      margin-bottom: var(--gutter-double);
    }
  }

  .card {
    height: auto;
  }

  .participateButtton,
  .contributeButtton {
    align-self: center;
  }

  .externalLinks {
    margin-bottom: var(--vertical-gutter);

    & ul {
      columns: 1;
    }
  }

  .partnersContainer {
    margin-bottom: var(--vertical-gutter);
  }
}
