.hero {
  padding: var(--vertical-margin-large) 0;
  position: relative;
  z-index: 1;

  & h1 {
    margin-bottom: 0;
    font-size: var(--text-xxxlarge);
    line-height: 1.2em;
  }

  & p {
    margin: var(--vertical-margin-small) 0;
    font-size: var(--text-large);
  }
}

/* Add padding to the correct elements */
.examples,
.takePart,
.external {
  padding-bottom: var(--vertical-margin-large);
  padding-top: var(--vertical-margin-large);
}

/* Add border bottom to correct elements */
.examples,
.gettingStarted,
.takePart,
.external {
  border-bottom: var(--vertical-margin-large) solid var(--lightgray);
}

/* Shortcut for 4 columns */
.participate,
.contribute,
.externalLinks,
.partners,
.gettingStartedMessage,
.cards {
  flex-basis: var(--col4);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: var(--vertical-margin-large) 0 var(--vertical-margin-large) 5px;
}

.button {
  margin-right: var(--gutter-double);
}

/* Examples */

.examplesHeading {
  flex-basis: var(--col8);
}

.example {
  flex-basis: var(--col2);
  cursor: pointer;

  & h4 {
    margin-top: var(--vertical-margin-small);
    margin-bottom: 0px;
    color: var(--processing-blue-dark);
    transition: color 0.2s ease;
  }

  & p {
    cursor: pointer;
    transition: color 0.2s ease;
  }

  & .imgContainer {
    transition: opacity 0.2s ease;
    & > div {
      width: 100%;
    }
  }
}

.example:hover {
  & h4 {
    color: var(--processing-blue-mid);
  }

  & p {
    cursor: pointer;
  }

  & .imgContainer {
    opacity: 0.8;
  }
}

.imgContainer {
  display: flex;
  & > img {
    object-fit: cover;
  }
}

.imgContainer:before {
  display: block;
  padding-top: 100%;
  content: "";
}

.moreExamples {
  flex-basis: var(--col8);
  text-align: right;
}

/* Getting Started */

.gettingStartedMessage {
  padding-bottom: var(--vertical-margin-large);
  padding-top: var(--vertical-margin-large);
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: -4px 0;
  background-color: var(--lightgray);
}

.card {
  flex: 0 0 50%;
  border: 4px solid var(--lightgray);
  text-align: center;
  font-size: var(--text-small);
}

.card:active {
  border-color: var(--processing-blue-mid);
  background: var(--processing-blue-mid);
}

/*  Participate */

.participate,
.contribute {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.participateButton,
.contributeButton {
  margin-top: var(--vertical-margin-small);
  display: inline-flex;
}

.participateButton {
  display: inline-flex;
  flex: 1;
  align-items: flex-end;
}

.externalLinks {
  & ul {
    columns: 2;

    & li {
      padding-top: var(--gutter-half);
    }

    & li a {
      color: var(--processing-blue-mid);

      &:hover {
        color: var(--processing-blue-light);
      }
    }
  }
}

/*  Partners */

.partners h2 {
  margin: 0 0 var(--vertical-margin-small) 0;
}

.partnersList {
  display: flex;
  max-width: 700px;
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
  & .partner {
    margin-right: var(--gutter);
    margin-left: var(--gutter);
    & .logo {
      height: 100%;
      display: flex;
      align-items: center;
    }
    & :global(.gatsby-image-wrapper) {
      flex-basis: 100%;
    }
    & svg {
      max-width: 100%;
      width: 100%;
      /* margin: 0 auto; */
      height: auto;
      /* width: 60px; */
    }

    & p {
      margin-top: var(--gutter-half);
      font-size: var(--text-small);
      text-align: center;
      line-height: 1.2;
    }
  }
}

@media (--medium) {
  .hero {
    & h1 {
      font-size: var(--text-xxlarge);
    }
  }

  .participate,
  .contribute,
  .externalLinks,
  .partners,
  .gettingStartedMessage,
  .cards {
    flex-basis: var(--col8);
  }

  .buttons {
    margin: var(--gutter-double) 0;
  }

  .button {
    margin-right: var(--gutter);
  }

  .cards {
    padding-bottom: var(--vertical-margin-large);
  }

  .gettingStartedMessage {
    padding-bottom: var(--margin-half);
  }

  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    margin: 0;
    background-color: var(--lightgray);
  }

  .participateButtton,
  .contributeButtton {
    margin-bottom: var(--vertical-margin-large);
  }

  .contribute {
    margin-top: var(--vertical-margin-large);
  }
  .partners h2 {
    margin-top: var(--vertical-margin-medium);
  }
}

@media (--reduced) {
  .main {
    padding-top: 0;
  }

  .hero {
    min-height: auto;
    & h1 {
      font-size: var(--text-xxxlarge);
    }
  }

  .example {
    flex-basis: var(--col4);
  }

  .moreExamples {
    text-align: center;
  }
}

@media (--small) {
  .hero {
    /* padding: var(--margin) 0; */
    & p {
      font-size: var(--text-medium);
    }
  }

  .buttons {
    display: block;
    margin-bottom: 0;
  }

  .button {
    display: block;
    margin-bottom: var(--vertical-margin-large);
    margin-right: 0;
  }

  .examples {
    flex-basis: var(--col8);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    & ul {
      overflow-x: scroll;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    & li {
      flex: 0 0 auto;
    }
  }

  .example {
    width: 100%;
    flex-shrink: 0;
  }

  .cardsWrapper {
    flex-direction: column;
  }

  .participateButtton,
  .contributeButtton {
    align-self: center;
  }

  .externalLinks {
    margin-bottom: var(--vertical-margin-large);

    & ul {
      columns: 1;
    }
  }

  .partners {
    margin-bottom: var(--vertical-margin-large);
  }
}
