.hero {
  position: relative;
  height: 600px;
  background-image: linear-gradient(
    to right,
    white 20%,
    var(--processing-blue-gradient)
  );

  & h1 {
    margin-bottom: var(--margin-half);
    font-size: var(--text-xxlarge);
  }

  & p {
    font-size: var(--text-large);
    cursor: pointer;
  }
}

.section {
  padding-bottom: var(--margin);
  padding-top: var(--margin);
}

.sectionDivider {
  flex-basis: var(--col8);
  height: 30px;
  background-color: var(--lightgray);
}

.half {
  flex-basis: var(--col4);
}

.intro {
  display: flex;
  flex-basis: var(--col4);
  flex-direction: column;
  z-index: 1;
  height: 100%;
  padding-top: 100px;

  @media (--medium) {
    flex-basis: var(--col8);
  }
}

.buttons {
  margin: var(--margin) 0;
}

.examples {
  flex-basis: var(--col8);

  & ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
  }
}

.example {
  flex-basis: var(--col2);
  cursor: pointer;

  & h4 {
    margin-top: var(--gutter-half);
    margin-bottom: 0px;
    color: var(--processing-blue-dark);
    transition: color 0.2s ease;
  }

  & p {
    cursor: pointer;
    transition: color 0.2s ease;
  }

  & .imgContainer {
    transition: opacity 0.2s ease;
  }
}

.example:hover {
  & h4 {
    color: var(--processing-blue-mid);
  }

  & p {
    cursor: pointer;
  }

  & .imgContainer {
    opacity: 0.8;
  }
}

.imgContainer {
  display: flex;

  & > img {
    object-fit: cover;
  }
}

.imgContainer:before {
  display: block;
  padding-top: 100%;
  content: "";
}

.moreButton {
  flex-basis: var(--col8);
  padding-left: var(--col7);
}

.cardGrid {
  display: flex;
  align-items: baseline;
  align-items: center;
  margin-top: calc(-1 * var(--margin));
  margin-bottom: calc(-1 * var(--margin));
}

.cardCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--gutter-double) var(--gutter);
  min-height: 360px;
  & > a:first-child {
    margin-bottom: var(--gutter);
  }
  & > a:last-child {
    margin-top: var(--gutter);
  }
}

.button {
  margin-right: var(--gutter-double);
}

.card {
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: var(--text-small);
}

.card:active {
  border: 2px solid var(--processing-blue-mid);
  background: var(--processing-blue-mid);
}

.contributeButtton {
  display: inline-flex;
}

.logos {
  display: inline-flex;
  text-align: center;

  & p {
    margin-top: var(--gutter-half);
    font-size: var(--text-small);
    text-align: center;
  }

  & li {
    flex-basis: var(--col2);
    margin-right: var(--gutter);

    & div {
      margin: 0 auto;
      height: 60px;
      width: 60px;
    }
  }
}

.announcementCover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.announcementSection {
  margin-top: calc(-1 * var(--margin));
  margin-bottom: calc(-1 * var(--margin));
}
