.root {
  & > h1 {
    flex-basis: var(--col8);
  }
  & > h3 {
    flex-basis: var(--col8);
    padding-right: var(--col3);
  }

  @media (--small) {
    & > h1 {
      padding-top: var(--vertical-gutter);
    }
    & > h3 {
      padding-right: 0;
      flex-basis: var(--col8);
    }
  }
}

.listWrapper {
  flex-basis: var(--col8);
  display: flex;

  & h2 {
    flex-basis: var(--col2);
    font-size: var(--text-xlarge);
    text-transform: capitalize;
    margin: var(--margin) 0;
    border-right: solid 7px var(--lightgray);

    @media (--small) {
      flex-basis: var(--col8);
    }
  }

  @media (--small) {
    padding-left: 0;
  }
}

.list {
  list-style: none;
  margin: var(--margin) 0;
  flex-basis: var(--col6);

  & li {
    width: 100%;
    margin-bottom: 20px;
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & p {
    flex-basis: var(--col6);
    margin: 0;
  }

  & a {
    text-decoration: none;
  }

  & h1 {
    flex-basis: var(--col8);
  }

  & h3 {
    font-size: var(--text-medium);
    margin: 0;
  }

  & h3:hover {
    color: inherit;
  }

  & h3:focus {
    color: inherit;
  }

  @media (--small) {
    & p {
      flex-basis: var(--col5);
    }
  }
}

.librarieName {
  flex-basis: var(--col2) !important;
  border-right: solid 3px var(--lightgray);

  @media (--small) {
    flex-basis: var(--col3) !important;
  }
}

.contributionsList {
  list-style: none;
  margin: var(--margin) 0;
  flex-basis: var(--col8);

  & h2 {
    flex-basis: var(--col2);
    font-size: var(--text-xlarge);
    text-transform: capitalize;
    border-right: solid 7px var(--lightgray);
    margin-bottom: 0;

    @media (--small) {
      flex-basis: var(--col8);
    }
  }

  & ul {
    flex-basis: var(--col6);
  }

  & ul div:last-child {
    margin-bottom: 0;
  }

  & li {
    margin-bottom: 20px;
    width: 100%;
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & p {
    margin: 0;
  }

  & a {
    text-decoration: none;
  }

  & h3 {
    font-size: var(--text-medium);
    margin: 0;
  }

  & h3:hover {
    color: inherit;
  }

  & h3:focus {
    color: inherit;
  }

  @media (--small) {
    padding-right: 0px;

    & h2 {
      border-right: none;
    }

    & ul {
      flex-basis: var(--col8);
      margin-top: var(--vertical-gutter);
      border-left: solid 7px var(--lightgray);
    }
  }
}

.contributionData {
  flex-basis: var(--col2);
  border-right: solid 3px var(--lightgray);

  @media (--small) {
    flex-basis: var(--col3);
  }
}

.contributionAuthor {
  color: var(--processing-blue-mid);
}

.subgrid {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding-right: var(--col1);
}

.contributionBrief {
  flex-basis: var(--col6);

  @media (--small) {
    flex-basis: var(--col5);
  }
}
