.root {
  & > h1 {
    flex-basis: var(--col8);
  }
  & > h3 {
    flex-basis: var(--col8);
    padding-right: var(--col3);
  }
}

.listWrapper {
  padding-left: var(--push1andHalf);
  flex-basis: var(--col8);
}

.list {
  list-style: none;
  border-left: solid 7px var(--lightgray);
  margin: var(--margin) 0;

  & li {
    width: 100%;
    margin-bottom: 20px;
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & p {
    flex-basis: var(--col4);
    margin: 0;
  }

  & a {
    text-decoration: none;
  }

  & h1 {
    flex-basis: var(--col8);
  }

  & h3 {
    flex-basis: var(--col5);
    font-size: var(--text-medium);
    border-right: solid 3px var(--lightgray);
    margin: 0;
  }

  & h3:hover {
    color: inherit;
  }

  & h3:focus {
    color: inherit;
  }
}

.librarieName {
  flex-basis: cols(1.5, 8) !important;
}

.contributionsList {
  list-style: none;
  margin: var(--margin) 0;
  padding-right: var(--col1);
  flex-basis: var(--col8);

  & h2 {
    flex-basis: cols(1.5, 8);
    font-size: var(--text-xlarge);
    text-transform: capitalize;
    border-right: solid 7px var(--lightgray);
    margin-bottom: 0;
  }

  & ul {
    flex-basis: cols(6.5, 8);
  }

  & ul div:last-child {
    margin-bottom: 0;
  }

  & li {
    margin-bottom: 20px;
    width: 100%;
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & p {
    margin: 0;
  }

  & a {
    text-decoration: none;
  }

  & h3 {
    font-size: var(--text-medium);
    margin: 0;
  }

  & h3:hover {
    color: inherit;
  }

  & h3:focus {
    color: inherit;
  }
}

.contributionData {
  flex-basis: var(--col2);
  border-right: solid 3px var(--lightgray);
}

.contributionAuthor {
  color: var(--processing-blue-mid);
}

.subgrid {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.contributionBrief {
  flex-basis: var(--col6);
}

.searchbar {
  padding-left: var(--push1);
}
