.root {
  & > h1 {
    flex-basis: var(--col8);
    padding-left: var(--push2);
    padding-right: var(--push1);
    margin-bottom: 0;
  }
}

.author {
  flex-basis: var(--col8);
  padding-left: var(--push2);
  margin-bottom: 1rem;
  font-size: var(--text-large);
  font-weight: 700;
  color: var(--processing-blue-dark);
}

.content {
  flex-basis: var(--col8);
  padding-left: var(--push2);
  padding-right: var(--push1);
  margin-bottom: var(--vertical-gutter);

  & h2 {
    font-size: var(--text-large);
    margin-top: var(--vertical-gutter);
    margin-bottom: 1rem;
  }

  & h3 {
    margin-top: var(--vertical-gutter);
  }

  & ul {
    padding-bottom: 20px;
    font-family: "Vollkorn", serif;
    font-size: var(--text-medium);
    line-height: 1.6em;
    list-style-type: none;

    & li {
      font-family: inherit;
      margin-bottom: 10px;
      padding-left: 1em;
    }

    & li:before {
      content: "• ";
      float: left;
      font-family: var(--font);
      font-weight: 700;
      color: var(--processing-blue-dark);
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  & p {
    font-family: "Vollkorn", serif;
    font-size: var(--text-medium);
    line-height: 1.6em;

    & a {
      color: var(--processing-blue-dark);
      text-decoration: underline;

      &:hover {
        color: var(--processing-blue-mid);
      }

      &:active {
        color: var(--processing-blue-light);
      }
    }
  }

  & pre {
    font-family: var(--font-mono);
    font-size: var(--text-regular);
    font-style: normal;
  }

  & code {
    margin-bottom: 0;
    font-size: var(--text-regular);
    white-space: break-spaces;
  }

  & picture {
    margin: var(--vertical-gutter) 0;
  }

  & figcaption {
    color: var(--darkgray);
    font-size: var(--text-xsmall);
    font-weight: 400;
  }

  & h4 {
    border-left: solid var(--lightgray) 6px;
    padding-left: 10px;
  }

  & dl {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;

    & dt {
      width: var(--col3);
      font-weight: 700;
      margin-bottom: 16px;
      font-size: var(--text-small);
    }

    & dd {
      margin-bottom: 16px;
      margin-left: 0;
      width: var(--col5);
    }
  }
}

@media (--small) {
  .root {
    & > h1 {
      padding-top: var(--vertical-gutter);
      padding-left: var(--gutter);
      padding-right: var(--gutter);
    }
    & > h3 {
      padding-right: var(--gutter);
      flex-basis: var(--col8);
    }
  }

  .content {
    max-width: var(--col8);
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    & dl {
      margin-left: 0;
    }
  }
}
