.releasesList {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.releaseGroup {
    margin-bottom: 1em;
}

.releasesTable {
    width: 100%;

    th {
        text-align: left;
        font-weight: 500;
    }
}

.releaseRow {
    padding: 12px;



    &:nth-child(odd) {
        background: var(--gray)
    }
}