.col1 {
  flex-basis: var(--col1);
}

.col5 {
  background-color: rgba(255, 0, 0, 0.2);
  flex-basis: var(--col5);
}

.nestCol {
  flex-basis: calc(100% / 5 * 1);
}

.red {
  background-color: rgba(255, 0, 0, 0.1);
  min-height: 200px;
}
