.root {
  & > h1 {
    padding-right: var(--col3);
  }

  @media (--small) {
    & > h1 {
      padding-top: var(--vertical-gutter);
      padding-right: var(--gutter);
    }
  }
}

.section {
  flex-wrap: wrap;

  & > h2 {
    margin-bottom: 0;
  }

  & > h3 {
    flex-basis: var(--col8);
    padding-right: var(--col4);
  }

  @media (--small) {
    & > h3 {
      padding-right: var(--gutter);
    }
    & > h2 {
      margin-top: var(--vertical-gutter);
    }
  }
}

.sectionIntro {
  flex-basis: var(--col8);
  padding-right: var(--col4);

  & a {
    text-decoration: underline;
  }

  @media (--small) {
    padding-right: var(--gutter);
  }
}

.list {
  width: 100%;
  margin: var(--gutter) 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  & li {
    flex-basis: var(--col2);

    & a {
      display: flex;
      flex-direction: column;
    }

    & a:hover {
      color: var(--black);
    }

    & h4 {
      margin-bottom: 0;
    }
  }

  & .card {
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    background-color: none;
    transition: background 0.2s ease;
    pointer-events: auto;
  }

  & .card:hover {
    color: var(--black);
    background-color: var(--lightgray);
  }

  & .cover {
    width: 100%;
    background-color: var(--gray);
    margin-bottom: var(--gutter);
  }

  & .author {
    display: inline;
    color: var(--darkgray);
  }

  & .authorName {
    color: var(--processing-blue-mid);
    font-weight: 500;
  }

  & .brief {
    margin-top: var(--gutter-half);
    color: inherit;
    pointer-events: none;
  }

  & .brief:hover {
    color: inherit;
  }

  & .level {
    margin-top: var(--gutter-half);
  }

  @media (--small) {
    & li {
      flex-basis: var(--col8);
    }
  }
}
