.text {
  flex-basis: var(--col8);

  & h2 {
    margin-bottom: 0;
  }
}

.list {
  flex-basis: var(--col8);
  margin: var(--vertical-margin-small) 0;
  list-style: none;
}

.card {
  flex-basis: var(--col2);
  margin-bottom: var(--vertical-margin-small);
  background-color: none;
  transition: background-color 0.2s ease;
  pointer-events: auto;

  & a {
    display: flex;
    flex-direction: column;
  }

  & a:hover {
    color: var(--black);
  }

  & h4 {
    margin-bottom: 0;
  }
}

.card:hover {
  color: var(--black);
  background-color: var(--lightgray);
}

.cover {
  width: 100%;
  background-color: var(--gray);
  margin-bottom: var(--gutter);
}

.author {
  display: inline;
  color: var(--darkergray);
}

.authorName {
  color: var(--processing-blue-mid);
  font-weight: 500;
}

.brief {
  margin-top: var(--gutter-half);
  color: inherit;
  pointer-events: none;
}

.brief:hover {
  color: inherit;
}

.level {
  margin-top: var(--vertical-margin-xsmall);
  font-size: var(--text-small);
  color: var(--processing-blue-dark);
}

@media (--small) {
  .text {
    & h1 {
      padding-top: var(--vertical-margin-large);
    }

    & h2 {
      margin-top: var(--vertical-margin-large);
    }
  }

  .card {
    flex-basis: var(--col8);
  }
}
