@import-sanitize;

html {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  font-feature-settings: "ss02", "ss04", "ss05";
  font-size: 16px;
}

code,
pre {
  font-family: Space Mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

ul {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--processing-blue-dark);
}

h1 {
  font-size: var(--text-xxlarge);
}

h2 {
  font-size: var(--text-xlarge);
  font-weight: 700;
}

h3 {
  font-size: var(--text-large);
}

a {
  color: inherit;
  &:hover {
    color: var(--processing-blue-light);
  }
  &:active {
    color: var(--processing-blue-dark);
  }
  &:focus {
    color: var(--processing-blue-mid);
  }
}
