/* Space Grotesk
 * By Florian Karsten
 * https://fonts.floriankarsten.com/space-grotesk
 */

@font-face {
  font-family: "Space Grotesk";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Space Grotesk/SpaceGrotesk-Light.woff2") format("woff2"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Light.woff") format("woff"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Light.otf") format("otf"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Light.tff") format("ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Space Grotesk/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Regular.woff") format("woff"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Regular.otf") format("otf"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Regular.tff") format("ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Space Grotesk/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Medium.woff") format("woff"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Medium.otf") format("otf"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Medium.tff") format("ttf");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Space Grotesk/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("/fonts/Space Grotesk/SpaceGrotesk-SemiBold.woff") format("woff"),
    url("/fonts/Space Grotesk/SpaceGrotesk-SemiBold.otf") format("otf"),
    url("/fonts/Space Grotesk/SpaceGrotesk-SemiBold.tff") format("ttf");
}

/*
@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/Space Grotesk/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Bold.woff") format("woff"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Bold.otf") format("otf"),
    url("/fonts/Space Grotesk/SpaceGrotesk-Bold.tff") format("ttf");
} */

/* JetBrains Mono
 * By JetBrains <>
 * Copyright 2020 The JetBrains Mono Project Authors 
 * JetBrains Mono is designed by Philipp Nurullin and Konstantin Bulenkov. 
 * To contribute, see https://github.com/JetBrains/JetBrainsMono
 * Licensed under the SIL Open Font License, Version 1.1
 * https://scripts.sil.org/OFL
 */

 @font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
  src: url("./fonts/JetBrains Mono/webfonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("./fonts/JetBrains Mono/ttf/JetBrainsMonoNL-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-weight: normal;
  font-style: italic;
  font-variant-ligatures: none;
  src: url("./fonts/JetBrains Mono/webfonts/JetBrainsMono-Italic.woff2") format("woff2"),
    url("./fonts/JetBrains Mono/ttf/JetBrainsMonoNL-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
  font-variant-ligatures: none;
  src: url("./fonts/JetBrains Mono/webfonts/JetBrainsMono-Bold.woff2") format("woff2"),
    url("./fonts/JetBrains Mono/ttf/JetBrainsMonoNL-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-weight: bold;
  font-style: italic;
  font-variant-ligatures: none;
  src: url("./fonts/JetBrains Mono/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2"),
    url("./fonts/JetBrains Mono/ttf/JetBrainsMonoNL-BoldItalic.ttf") format("ttf");
}

/* Volkorn
 * By Friedrich Althausen
 * https://github.com/FAlthausen/Vollkorn-Typeface
 */

@font-face {
  font-family: "Vollkorn";
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Vollkorn/Vollkorn-Regular.woff2") format("woff2"),
    url("./fonts/Vollkorn/Vollkorn-Regular.woff") format("woff"),
    url("./fonts/Vollkorn/Vollkorn-Regular.otf") format("otf"),
    url("./fonts/Vollkorn/Vollkorn-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Vollkorn";
  font-weight: 400;
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/Vollkorn/Vollkorn-Italic.woff2") format("woff2"),
    url("./fonts/Vollkorn/Vollkorn-Italic.woff") format("woff"),
    url("./fonts/Vollkorn/Vollkorn-Italic.otf") format("otf"),
    url("./fonts/Vollkorn/Vollkorn-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Vollkorn";
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/Vollkorn/Vollkorn-Bold.woff2") format("woff2"),
    url("./fonts/Vollkorn/Vollkorn-Bold.woff") format("woff"),
    url("./fonts/Vollkorn/Vollkorn-Bold.otf") format("otf"),
    url("./fonts/Vollkorn/Vollkorn-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Vollkorn";
  font-weight: 700;
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/Vollkorn/Vollkorn-BoldItalic.woff2") format("woff2"),
    url("./fonts/Vollkorn/Vollkorn-BoldItalic.woff") format("woff"),
    url("./fonts/Vollkorn/Vollkorn-BoldItalic.otf") format("otf"),
    url("./fonts/Vollkorn/Vollkorn-BoldItalic.ttf") format("ttf");
}
