.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

.fill {
  flex: 1;
  overflow: auto;
}

.col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.nest,
.col.nest {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.grid .nest {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.grid .pullHalf {
  margin-right: cols(0.5, 8);
}

.grid .pushHalf {
  margin-left: cols(0.5, 8);
}

.grid .pull-1 {
  margin-right: cols(1, 8);
}

.grid .push-1 {
  margin-left: cols(1, 8);
}

.grid .push-1andhalf {
  margin-left: cols(1.5, 8);
}

.grid .pull-1andhalf {
  margin-right: cols(1.5, 8);
}

.grid .push-2 {
  margin-left: cols(2, 8);
}

.grid .pull-2 {
  margin-right: cols(2, 8);
}

.grid .push-3 {
  margin-left: cols(3, 8);
}

.grid .pull-3 {
  margin-right: cols(3, 8);
}

.grid .push-4 {
  margin-left: cols(4, 8);
}

.grid .pull-4 {
  margin-right: cols(4, 8);
}

.grid .push-5 {
  margin-left: cols(5, 8);
}

.grid .pull-5 {
  margin-right: cols(5, 8);
}

.grid .push-6 {
  margin-left: cols(6, 8);
}

.grid .pull-6 {
  margin-right: cols(6, 8);
}

.grid .push-7 {
  margin-left: cols(7, 8);
}

.grid .pull-7 {
  margin-right: cols(7, 8);
}

.grid .full-bleed {
  flex-basis: 100vw;
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
  padding-right: 0;
}

.grid .right-bleed {
  flex-basis: calc(100vw - var(--margin));
  margin-right: calc(var(--margin) * -1);
  padding-right: 0;
}

.grid .left-bleed {
  flex-basis: calc(100vw - var(--margin));
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
}

.grid .col-2-right-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 2);
  margin-right: calc(var(--margin) * -1);
  padding-right: 0;
}

.grid .col-2-left-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 2);
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
}

.grid .col-4-right-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 4);
  margin-right: calc(var(--margin) * -1);
  padding-right: 0;
}

.grid .col-4-left-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 4);
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
}
