/*
  Gives a max-width to an element. Normally used alongside .grid
*/
.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

/*
  Grid have a margin with columns inside of it.
*/
.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

/*
  All columns have gutter
*/
.col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

/*
  .grid inside .col negatively offset the .col padding ...
*/
.col .grid {
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  padding-left: 0;
  padding-right: 0;
}

/*
  ... except for nested grids set directly on a column
*/
.col.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
