.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin);
  padding-right: var(--margin);

  @media (--small) {
    padding-left: var(--margin-mobile);
    padding-right: var(--margin-mobile);
  }
}

.fill {
  flex: 1;
  overflow: auto;
}

.col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);

  @media (--small) {
    padding-left: var(--gutter-mobile);
    padding-right: var(--gutter-mobile);
  }
}

.nest,
.col.nest {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.rightBleed {
  padding-right: 0px;
  @media (--reduced) {
    padding-right: var(--margin);
  }

  @media (--small) {
    padding-right: var(--margin-mobile);
  }
}

.leftBleed {
  padding-left: 0px;
  @media (--reduced) {
    padding-left: var(--margin);
  }

  @media (--small) {
    padding-left: var(--margin-mobile);
  }
}

.bleedMedium {
  @media (--medium) {
    padding-right: 0;
    padding-left: 0;
  }
}
