.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

.fill {
  flex: 1;
  overflow: auto;
}

.col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.nest,
.col.nest {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.grid .full-bleed {
  flex-basis: 100vw;
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
  padding-right: 0;
}

.grid .right-bleed {
  flex-basis: calc(100vw - var(--margin));
  margin-right: calc(var(--margin) * -1);
  padding-right: 0;
}

.grid .left-bleed {
  flex-basis: calc(100vw - var(--margin));
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
}

.grid .col-2-right-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 2);
  margin-right: calc(var(--margin) * -1);
  padding-right: 0;
}

.grid .col-2-left-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 2);
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
}

.grid .col-4-right-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 4);
  margin-right: calc(var(--margin) * -1);
  padding-right: 0;
}

.grid .col-4-left-bleed {
  flex-basis: calc((100vw - var(--margin)) / 8 * 4);
  margin-left: calc(var(--margin) * -1);
  padding-left: 0;
}
