@define-mixin grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

@define-mixin nest {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
}

@define-mixin column $count: 8, $push: 0, $total: 8 {
  padding-left: calc(100% / $total * $push + var(--gutter));
  padding-right: var(--gutter);
  flex-basis: calc(100% / $total * ($count + $push));
}

@define-mixin container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}
