@define-mixin grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--margin);
  padding-right: var(--margin);
}

@define-mixin nest {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

@define-mixin column $count: 8, $push: 0, $total: 8 {
  padding-left: calc(100% / $total * $push + var(--gutter));
  padding-right: var(--gutter);
  flex-basis: calc(100% / $total * ($count + $push));
}

@define-mixin container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

@define-mixin code {
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-mono);
  font-size: 85%;
  background-color: var(--lightgray);
  padding: 0.1em 0.3em;
  border-radius: 6px;
  font-variant-ligatures: no-common-ligatures;
}
