:root {
  --font: "Space Grotesk", Helvetica, Arial, sans-serif;
  --font-serif: Vollkorn, Garamond, Georgia, serif;
  --font-mono: "Space Mono", Menlo, monospace;

  --processing-blue-light: #508bff;
  --processing-blue-mid: #0251c8;
  --processing-blue-dark: #1e2a67;
  --processing-blue-gradient: #508bff2e;
  --p5-mid: #ff4077;
  --foundation-mid: #7446ac;
  --lightgray: #f5f5f5;
  --gray: #dbdbdb;
  --darkgray: #898989;
  --black: #0d0d0d;

  --text-xsmall: 0.8rem;
  --text-small: 0.875rem;
  --text-regular: 1rem;
  --text-medium: 1.125rem;
  --text-large: 1.3rem;
  --text-xlarge: 2.25rem;
  --text-xxlarge: 2.75rem;
  --text-xxxlarge: 3.375rem;

  --margin: 48px;
  --margin-half: calc(48px / 2);
  --margin-quarter: calc(48px / 4);
  --gutter: 16px;
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-double: calc(var(--gutter) * 2);
  --vertical-gutter: 40px;

  --margin-mobile: 24px;
  --margin-half-mobile: calc(24px / 2);
  --margin-quarter-mobile: calc(24px / 4);
  --gutter-mobile: 8px;
  --gutter-half-mobile: calc(var(--gutter) / 2);
  --gutter-double-mobile: calc(var(--gutter) * 2);
  --vertical-gutter-mobile: 20px;

  --column: cols(1);
  --column-half: cols(0.5);
  --column-double: cols(2);
  --col1: cols(1);
  --col2: cols(2);
  --col3: cols(3);
  --col4: cols(4);
  --col5: cols(5);
  --col6: cols(6);
  --col7: cols(7);
  --col8: cols(8);

  --pushHalf: calc(var(--column-half) + var(--gutter));
  --push1: calc(var(--col1) + var(--gutter));
  --push1andHalf: calc(var(--col1) + var(--column-half) + var(--gutter));
  --push2: calc(var(--col2) + var(--gutter));
  --push3: calc(var(--col3) + var(--gutter));
  --push4: calc(var(--col4) + var(--gutter));
  --push5: calc(var(--col5) + var(--gutter));
  --push6: calc(var(--col6) + var(--gutter));
  --push7: calc(var(--col7) + var(--gutter));
  --push8: calc(var(--col8) + var(--gutter));
}

@custom-media --small (max-width: 720px);
@custom-media --reduced (max-width: 960px);
@custom-media --medium (max-width: 1234px);
@custom-media --large (max-width: 1362px);
@custom-media --xlarge (max-width: 9999px);
