:root {
  --font: "Space Grotesque", Helvetica, Arial, sans-serif;
  --font-serif: Vollkorn, Garamond, Georgia, serif;
  --font-mono: "Space Mono", Menlo, monospace;
  --processing-blue-light: #508bff;
  --processing-blue-mid: #0251c8;
  --processing-blue-dark: #1e2a67;
  --processing-blue-gradient: #508bff2e;
  --lightgray: #f5f5f5;
  --gray: #dbdbdb;
  --darkgray: #898989;
  --black: #0d0d0d;
  --text-small: 0.875rem;
  --text-regular: 1rem;
  --text-medium: 1.125rem;
  --text-large: 1.3rem;
  --text-xlarge: 2.25rem;
  --text-xxlarge: 3.375rem;
  --margin: 48px;
  --gutter: 16px;
  --column-width: calc((100vw - 2 * var(--margin)) / 8);
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-double: calc(var(--gutter) * 2);
  --vertical-gutter: 40px;
}
