.headerContent {
  flex-basis: var(--col8);

  & p {
    max-width: 700px;
    margin: 0 0 1rem;
    scroll-margin-top: 150px;

    font-size: var(--text-large);
    font-weight: 700;
    color: var(--processing-blue-dark);
  }
}

.downloadSection {
  position: relative;
  background-color: var(--download-background);
  margin-top: var(--margin-double);
}

a.bigDownloadButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: var(--processing-blue);
  color: white;
  border-radius: 40px;
  padding: var(--gutter) var(--margin) var(--gutter-half) var(--margin) ;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    color: white;
    background-color: var(--processing-blue-light);
  }
  &:active {
    color: white;
    background-color: var(--processing-blue-dark);
  }
  &:focus {
    color: white;
    background-color: var(--processing-blue-mid);
  }

  & span {
    font-family: var(--font);
    font-size: var(--text-reduced);
    line-height: 1.2;
    text-align: center;
  }

  & span.osBit {
    font-size: var(--text-xsmall);
    line-height: 1.5;
    font-weight: 500;
  }
}

.osSectionList {
  display: flex;
  justify-content: center;
  gap: var(--margin);

  padding: calc(2 * var(--vertical-margin-large)) 0;
}

.osSection {
  color: var(--download-inactive);

  & h2 {
    margin: var(--vertical-margin-small) 0 0 0;
  
    font-family: var(--font);
    font-size: var(--text-large);
    color: var(--download-inactive);
    font-weight: 700;
  }
}

.osLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--vertical-margin-medium) var(--margin-double);
  margin-bottom: var(--gutter);
  border-radius: 5px;

  & svg {
    height: 100px;
  }
}

.selectedOsSection, .osSection:hover,
.selectedOsSection h2, .osSection:hover h2 {
  color: var(--processing-blue);
}

.assetList {
  border-radius: 5px;

  & li + li {
    margin-top: var(--gutter);
  }

  & a.asset {
    display: block;

    font-family: var(--font);
    font-size: var(--text-xsmall);
    line-height: 1.5;
    font-weight: 500;
    text-align: center;

    border: 1px solid var(--download-inactive);
    color: var(--download-inactive);
    border-radius: 20px;
    width: 100%;
    padding: var(--gutter-half) 0;

    cursor: pointer;
  }
}

.selectedOsSection .osLogoContainer,
.osSection:hover .osLogoContainer {
  background-color: var(--download-background-active);
}

.selectedOsSection svg, 
.osSection:hover svg {
  color: var(--processing-blue);
}

.selectedOsSection a.selectedAsset,
.osSection a:hover {
  color: var(--processing-blue);

  background-color: var(--download-background-active);
  border-color: var(--processing-blue);
}

.oldVersionsSection {
  margin: 0 auto;
  padding: var(--vertical-margin-large) calc(var(--margin) + var(--gutter));
  max-width: 700px;

  text-align: center;

  & h2 {
    font-size: var(--text-medium);
  }

  & p {
    font-weight: 500;
    margin: 0;
  }
}

.bottomLinks {
  display: flex;

  padding: var(--margin) 0;
  background-color: var(--lightgray);

  &::before, &::after {
    content: '';

    flex: 1;
    background-color: white;
  }

  &::before {
    margin-right: var(--gutter-half);
  }

  &::after {
    margin-left: var(--gutter-half);
  }

  & li {
    flex: 6;
    background-color: white;
    
    margin: 0 var(--gutter-half);
    padding: var(--vertical-margin-large) var(--gutter-double);
  }

  & li p {
    margin: var(--vertical-margin-large) 0 0 0;

    font-size: var(--text-medium);
    color: var(--darkgray);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
  }

  & li a {
    display: flex;
    flex-direction: column;

    font-weight: 700;
    font-size: var(--text-large);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  & li svg {
    height: 28px;
    margin-bottom: var(--gutter);
  }

  & li a, & li svg {
    color: var(--processing-blue-dark); 
  }
}

@media (--reduced) {
  a.bigDownloadButton {
    width: 80%;
  }

  .downloadSection {
    margin-top: calc(3 * var(--vertical-margin-large));
  }

  .osSectionList {
    flex-direction: column;
    gap: var(--margin-double);  

    padding: calc(4 * var(--vertical-margin-large)) calc(var(--margin) + var(--gutter));
  }

  .osSection {
    display: flex;
    justify-content: center;
  }

  .osLogoContainer {
    justify-content: center;

    width: 300px;
    margin-right: var(--gutter-double);
    margin-bottom: 0;

    & svg {
      height: 80px;
    }
  }

  .assetList {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & li + li {
      margin-top: calc(1.5 * var(--gutter));
    }

    & a.asset {
      padding: var(--gutter-half)  var(--gutter);
    }
  }

  .bottomLinks {
    flex-direction: column;

    padding: var(--margin-double) var(--margin);

    & li {
      margin: 0;
    }

    & li + li {
      margin-top: var(--margin-half);
    }
  }
}

@media (--small) {

  a.bigDownloadButton {
    width: 90%;

    & span {
      font-size: var(--text-large);
    }
  }

  .osSectionList {
    gap: calc(2 * var(--margin-double));

    padding-top: calc(3 * var(--vertical-margin-large));
  }

  .osSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .osLogoContainer {
    width: 120px;
    margin-bottom: var(--gutter-double);

    & svg {
      height: 40px;
    }
  }

  .assetList a.asset {
    font-size: var(--text-small);
  }

  .oldVersionsSection {
    max-width: 95%;
  
    text-align: center;
  }
  
  .bottomLinks {
    padding: var(--margin-double) calc(var(--margin) + var(--gutter));
    
    & li {
      display: flex;
      align-items: center;
    }

    & li p {
      flex: 3;
      text-align: left;
      padding-left: var(--margin-double);
      margin: 0;
    }

    & li a {
      flex: 1;
      flex-basis: 30px;
      font-size: var(--text-regular);
    }

    & li + li {
      margin-top: var(--margin);
    }
  }
}
