.content {
  flex-basis: var(--col8);

  & p,
  & > h3 {
    max-width: 700px;
  }
}

.latestVersion {
  color: var(--processing-blue-dark);
  &:hover {
    color: var(--processing-blue-light);
    & .latestVersionBit {
      color: inherit;
    }
  }

  & h3 {
    display: inline;
    &:hover {
      color: inherit;
    }
  }
}

.latestRelease {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--vertical-margin-large) 0;
  background-color: var(--lightgray);
  padding: 20px 0;
}

.logo {
  padding: 0 var(--margin);
  margin-right: var(--margin);
  text-align: center;
  white-space: nowrap;

  & h3 {
    margin: 0;
  }

  & svg {
    width: 90px;
    height: 90px;
  }
}

.latestDownloads {
  flex: 0 1 500px;
  display: flex;
  flex-wrap: wrap;
}

.latestLabel {
  flex: 0 0 100%;
  margin-bottom: var(--gutter-half);
}

.latestVersion {
  flex-basis: 50%;
}

.latestNumber {
  font-size: var(--text-medium);
  font-weight: bold;
}

.latestDate {
  margin-left: 5px;
  font-size: var(--text-small);
  color: var(--darkergray);
}

.latestVersionName {
  font-size: var(--text-large);
  font-weight: 700;
}

.latestVersionBit {
  padding-left: 0.3rem;
  font-size: var(--text-xsmall);
  font-weight: normal;
  color: var(--black);
}

.table {
  width: 100%;
  display: table;
  font-size: var(--text-regular);
  margin-bottom: var(--margin-half);
}

.row {
  display: table-row;

  & > span {
    display: table-cell;
    padding-bottom: 6px;
  }

  & a {
    color: var(--processing-blue-mid);
  }
}

.releaseName,
.releaseDate {
  white-space: nowrap;
  padding-right: 20px;
}

.releaseName {
  color: var(--darkergray);
}

.releaseDate {
  font-size: var(--text-small);
}

.releaseAssets {
}

.assetLink {
  white-space: nowrap;

  &::after {
    content: "/";
    color: black;
    padding: 0 8px;
  }

  &:last-child::after {
    content: none;
  }
}

.links {
  color: var(--processing-blue-dark);
  font-weight: 700;
  margin: var(--vertical-margin-small) 0;

  & li {
    display: inline;
    margin-right: 25px;
  }
}

@media (--small) {
  .logo {
    & h3 {
      font-size: var(--text-regular);
    }

    & svg {
      width: 70px;
      height: 70px;
    }
  }

  .links li {
    display: block;
  }
}
