.root {
  height: 100%;
  padding-left: 0px !important;
}

.wrapper {
  flex-basis: var(--col6-and-half);
}

.wrapper.collapsed {
  flex-basis: calc(var(--col8) - var(--margin));
}

.content {
  flex-basis: cols(6, 6);
  padding-left: var(--col-half);
  padding-right: calc(var(--margin) + var(--col1));
  & p {
    margin-top: var(--gutter-half);
  }
}

.content.collapsed {
  flex-basis: var(--col8);
  padding-left: 0;
  padding-right: var(--margin);
  margin-bottom: var(--vertical-gutter);
  transition: 0.4s ease;

  & > * {
    padding-left: var(--push1);
  }

  & > h1 {
    flex-basis: var(--col8);
  }

  & > h3 {
    flex-basis: var(--col8);
  }

  & .description {
    flex-basis: var(--col6);
  }

  & .featured {
    flex-basis: var(--col1);
  }

  & .cover {
    flex-basis: var(--col7);
    padding-left: calc(var(--push1) + var(--col-half));
    padding-right: var(--col-half);
  }

  & .tabs {
    flex-basis: var(--col7);
  }

  & relatedWrapper {
    flex-basis: var(--col7);
  }

  & .related {
    flex-basis: cols(6, 7);

    & li {
      flex-basis: cols(1, 6);
      padding: 0 var(--gutter);
    }
  }

  & .note {
    flex-basis: var(--col6);
  }

  @media (--small) {
    & > h1 {
      flex-basis: var(--col6);
      padding-left: var(--gutter);
    }

    & > h3 {
      flex-basis: var(--col6);
      padding-left: var(--gutter);
    }
  }
}

.content {
  transition: 0.4s ease;

  @media (--small) {
    padding-left: 0px;
  }
}

.content {
  margin-bottom: var(--vertical-gutter);

  & > h1 {
    flex-basis: cols(6, 6);
  }

  & > h3 {
    flex-basis: cols(6, 6);
  }

  @media (--small) {
    & > h1 {
      flex-basis: var(--col6);
      padding-left: var(--gutter);
    }

    & > h3 {
      flex-basis: var(--col6);
      padding-left: var(--gutter);
    }
  }
}

.description {
  flex-basis: cols(6, 6);

  @media (--small) {
    flex-basis: var(--col6);
    padding-left: var(--gutter);
  }
}

.featured {
  flex-basis: cols(2, 6);

  @media (--small) {
    flex-basis: var(--col6);
  }
}

.cover {
  flex-basis: cols(5, 5);
  padding-top: var(--vertical-gutter);
  padding-left: cols(0.5, 5);
  padding-right: cols(0.5, 5);

  @media (--small) {
    flex-basis: var(--col6);
    padding-left: var(--gutter);
  }
}

.relatedWrapper {
  flex-basis: cols(6, 6);

  & > h3 {
  }

  @media (--small) {
    & > h3 {
      padding-left: var(--gutter);
    }
  }
}

.related {
  display: flex;
  flex-basis: cols(5, 5);
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  list-style: none;

  & li {
    height: auto;
    flex-basis: cols(1, 5);
    padding-right: var(--gutter-double);

    & a span {
      display: block;
      padding-top: 8px;
      color: var(--processing-blue-mid);
    }
  }

  @media (--small) {
    flex-basis: var(--col6);
    padding-left: var(--gutter);

    & li {
      height: cols(2, 5);
      width: cols(4, 5);
    }
  }
}

.relatedItem:hover {
  & a span {
    color: var(--processing-blue-light);
  }

  & .img {
    opacity: 0.8;
    width: 100%;
  }
}

.img {
  width: 100%;
  min-height: 100px;
}

.note {
  flex-basis: cols(5, 5);
  padding-top: var(--gutter-double);
  color: var(--processing-blue-dark);

  @media (--small) {
    flex-basis: var(--col6);
    padding-left: var(--gutter);
  }
}
