.root {
  & h1,
  & h2 {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    flex-basis: var(--col8);
  }
  & p {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    flex-basis: var(--col5);
  }
}
