.root {
  & a {
    color: var(--processing-blue-mid);
  }
  & a:hover {
    color: var(--processing-blue-light);
  }
}

.collapsed {
  margin-left: 0;
  transition: 0.4s ease;
}

.expanded {
  margin-left: 100px;
  transition: 0.4s ease;
}

.section {
  margin-bottom: var(--vertical-gutter);
  & > h4 {
    flex-basis: var(--col2);
    padding-left: var(--push1);
  }
  & > h3 {
    flex-basis: var(--col4);
    padding-right: var(--push1);
  }
}

.description {
  flex-basis: var(--col5);
  padding-right: var(--push1);
  font-family: "Vollkorn", serif;
  font-size: var(--text-medium);
  line-height: 1.6em;

  & > * {
    font-family: var(--font-mono);
    font-size: var(--text-regular);
    font-style: normal;
  }
  & code {
    margin-bottom: 0;
    font-variant-ligatures: no-common-ligatures;
  }
}

.list {
  flex-basis: var(--col6);
  & li {
    display: flex;
    width: 100%;
  }
  & li:last-child .codeBlock {
    margin-bottom: 0;
  }
}

.codeBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.example {
  flex-basis: var(--col8);
  margin-bottom: var(--vertical-gutter);
}

.exampleCode {
  flex-basis: var(--col6);
}

.exampleImage {
  flex-basis: var(--col2);
}

.param {
  margin-bottom: var(--gutter);
}

.paramName {
  font-family: var(--font-mono);
  font-weight: 700;
}

.license {
  display: flex;
  flex-direction: row;
  flex-basis: var(--col7);
  padding-left: var(--push1);
  font-size: var(--text-small);

  & p {
    margin-left: var(--gutter);
  }
}

.item {
  flex-basis: var(--col2);
}

.itemDescription {
  flex-basis: var(--col5);
}
