.root {
  & a {
    color: var(--processing-blue-mid);
  }
  & a:hover {
    color: var(--processing-blue-light);
  }
}

.collapsed {
  margin-left: 0;
  transition: 0.4s ease;
}

.expanded {
  margin-left: 100px;
  transition: 0.4s ease;
}

.section {
  margin-bottom: var(--vertical-gutter);
}

.description {
  font-family: "Vollkorn", serif;
  font-size: var(--text-medium);
  line-height: 1.6em;

  & > * {
    font-family: var(--font-mono);
    font-size: var(--text-regular);
    font-style: normal;
  }
  & code {
    margin-bottom: 0;
    font-variant-ligatures: no-common-ligatures;
  }
}

.list {
  & li {
    display: flex;
    width: 100%;
  }
  & li:last-child .codeBlock {
    margin-bottom: 0;
  }
}

.codeBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.example {
  margin-bottom: var(--vertical-gutter);
}

.param {
  margin-bottom: var(--gutter);
}

.paramName {
  font-family: var(--font-mono);
  font-weight: 700;
}

.license {
  font-size: var(--text-small);
  display: flex;
  flex-direction: row;
  & p {
    margin-left: var(--gutter);
  }
}
