.root {
  height: 100%;
  padding-left: 0px !important;

  & a {
    color: var(--processing-blue-mid);
  }

  & a:hover {
    color: var(--processing-blue-light);
  }
}

.wrapper {
  flex-basis: var(--col6);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper.collapsed {
  flex-basis: calc(var(--col8) - var(--margin));
}

.content.collapsed {
  /* flex-basis: var(--col8); */
  /* padding-left: 0; */
  /* padding-right: var(--margin); */

  /* & > * {
    padding-left: var(--push1);
  } */

  & .section {
    & > h3 {
      flex-basis: cols(6);
      padding-right: var(--gutter);
    }

    & .description {
      flex-basis: cols(6);
    }
  }
}

.section {
  flex-basis: cols(6, 6);

  & > h3 {
    font-size: var(--text-xlarge);
    flex-basis: cols(5, 6);
    padding-right: var(--push1);
  }
}

@media (--reduced) {
  .content,
  .content.collapsed {
    flex-basis: var(--col8);
    padding-left: var(--margin);
    padding-right: var(--margin);

    & > * {
      padding-left: 0;
    }

    & .section {
      flex-basis: var(--col8);

      & > h4 {
        flex-basis: var(--col2);
        padding-left: 0;
        white-space: nowrap;
      }

      & > h3 {
        font-size: var(--text-xxlarge);
        flex-basis: var(--col6);
        padding-right: var(--gutter);
      }

      & .description {
        flex-basis: var(--col5);
      }
    }
  }
}

.description {
  font-family: "Vollkorn", serif;
  font-size: var(--text-medium);
  line-height: 1.6em;
}

.description b,
.description code {
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-mono);
  font-size: 85%;
  background-color: var(--lightgray);
  padding: 0.1em 0.3em;
  border-radius: 6px;
  font-variant-ligatures: no-common-ligatures;
}

@media (--reduced) {
  .wrapper {
    flex-basis: var(--col8);
  }

  .content,
  .content.collapsed {
    flex-basis: var(--col8);
    padding-left: var(--margin);
    padding-right: var(--margin);

    & > * {
      padding-left: 0;
    }
  }
}
