.root {
  width: fit-content;
  background-color: var(--processing-blue-dark);
  color: white;
  padding: 6px 18px;
  font-family: var(--font-mono);
  font-size: var(--text-small);
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

.root:focus {
  background: var(--darkgray);
  color: white;
}

.root:hover {
  background: var(--processing-blue-mid);
  color: white;
}

/*  Colors  */

.root.gray {
  background-color: var(--lightgray);
  color: black;
  &:hover {
    background-color: var(--gray);
  }
}

/*  Sizes  */

.small {
  padding: 4px 16px;
  font-size: var(--text-small);
}

.large {
  padding: var(--gutter) var(--gutter-double);
  font-size: var(--text-regular);

  @media (--medium) {
    padding: var(--gutter) calc(var(--gutter-double) * 2 / 3);
  }

  @media (--reduced) {
    padding: var(--gutter) calc(var(--gutter-double));
  }
}
