.root {
  width: fit-content;
  background-color: var(--processing-blue-dark);
  color: white;
  padding: 5px 18px 6px 18px;
  font-size: var(--text-small);
  font-family: var(--font-mono);
  outline: none;
  border: none;
  cursor: pointer;
}

.animate {
  position: relative;
}

.animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  z-index: -1;
  background-color: var(--processing-blue-light);
  transform: translate(-3px, 3px);
}

.animate:hover::before {
  transform: translate(3px, -3px);
  color: white;
}

.animate.large::before {
  transform: translate(-5px, 5px);
}

.animate.large:hover::before {
  transform: translate(5px, -5px);
}

.root:focus {
  background: var(--darkgray);
  color: white;
}

.root:hover {
  /* background: var(--processing-blue-mid); */
  color: white;
}

/*  Colors  */

.root.gray {
  background-color: var(--lightgray);
  color: black;
  &:hover {
    background-color: var(--gray);
  }
}

/*  Sizes  */

.large {
  padding: var(--gutter) var(--gutter-double);
  font-size: var(--text-regular);
}

@media (--medium) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double) * 2 / 3);
  }
}

@media (--reduced) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double));
  }
}

@media (--small) {
  .large {
    padding: var(--gutter-double) calc(var(--gutter-double) * 2);
  }
}
