.root {
  text-align: center;
  background-color: var(--processing-blue-dark);
  color: white;
  padding: 5px 18px 6px 18px;
  font-size: var(--text-small);
  font-family: var(--font-mono);
  font-feature-settings: var(--font-mono-settings);
  outline: none;
  border: none;
  cursor: pointer;
}

.root:focus {
  background: var(--processing-blue-deep);
  color: white;
}

.root:hover {
  color: white;
}

/*  Variant: Animate1 & Animate2 */

.animate1,
.animate2 {
  position: relative;
}

.animate1::before,
.animate2::before,
.animate2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  z-index: -1;
  background-color: var(--processing-blue-light);
  transform: translate(-3px, 3px);
}

.animate1:hover::before,
.animate2:hover::before {
  transform: translate(3px, -3px);
  color: white;
}

.animate1.large::before,
.animate2.large::before {
  transform: translate(-5px, 5px);
}

.animate1.large:hover::before,
.animate2.large:hover::before {
  transform: translate(5px, -5px);
}

/*  Variant: Animate2  */

.animate2::after {
  transform: translate(3px, -3px);
  background-color: var(--processing-blue-mid);
}

.animate2:hover::after {
  transform: translate(-3px, 3px);
  color: white;
}

.animate2.large::after {
  transform: translate(5px, -5px);
}

.animate2.large:hover::after {
  transform: translate(-5px, 5px);
}

/*  Variant: Gray  */

.gray {
  background-color: var(--lightgray);
  color: black;
  &:hover {
    background-color: var(--gray);
  }
}

/*  Variant: Transparent */

.transparent {
  background-color: transparent;
  font-family: var(--font);
  font-size: var(--text-regular);
  color: var(--processing-blue-dark);
  &:hover {
    color: var(--processing-blue-mid);
    background-color: var(--lightgray);
  }
  &:focus {
    color: var(--processing-blue-dark);
    background-color: var(--lightgray);
  }
}

/*  Sizes  */

.large {
  padding: var(--gutter) var(--gutter-double);
  font-size: var(--text-regular);
}

@media (--medium) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double) * 2 / 3);
  }
}

@media (--reduced) {
  .large {
    padding: var(--gutter) calc(var(--gutter-double));
  }
}

@media (--small) {
  .large {
    padding: var(--gutter-double) calc(var(--gutter-double) * 2);
  }
}
