.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  outline: none;
  border: 8px solid var(--lightgray);
  padding: 36px 40px;
  font-size: var(--text-small);
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;

  & h4 {
    font-size: var(--text-regular);
  }

  & p {
    font-weight: 400;
    color: var(--darkgray);
    cursor: pointer;
  }
}

.root:focus,
.root:hover {
  background: var(--lightgray);
}

.root:hover {
  border: 8px solid var(--lightgray);
  color: var(--processing-blue-dark);
  & h4 {
    color: inherit;
  }
}

.root:active {
  border: 8px solid var(--processing-blue-mid);
  background-color: var(--processing-blue-mid);
  color: white;
  & h4 {
    color: inherit;
  }
  & p {
    color: inherit;
  }
}
