.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  outline: none;
  border: 8px solid var(--lightgray);
  padding: 36px 40px;
  color: var(--processing-blue-dark);
  font-family: var(--font-mono);
  font-size: var(--text-small);
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;

  & h4 {
    font-size: var(--text-regular);
  }

  & p {
    font-family: var(--font);
    font-weight: 400;
    color: var(--darkgray);
    cursor: pointer;
  }
}

.root:focus {
  background: var(--lightgray);
}

.root:hover {
  border: 8px solid var(--lightgray);
  background-color: var(--lightgray);
  color: var(--processing-blue-dark);
  & h4 {
    color: inherit;
  }
}

.root:active {
  border: 8px solid var(--processing-blue-mid);
  background-color: var(--processing-blue-mid);
  color: white;
  & h4 {
    color: inherit;
  }
  & p {
    color: inherit;
  }
}

/*  Colors  */

.root.gray {
  background-color: var(--lightgray);
  color: black;
  &:hover {
    background-color: var(--gray);
  }
}

/*  Sizes  */

.small {
  padding: 4px 16px;
  font-size: var(--text-small);
}

.large {
  padding: var(--gutter) var(--gutter-double);
  font-size: var(--text-regular);
}
