.root {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  outline: none;
  padding: 36px 40px;
  font-size: var(--text-small);
  position: relative;
  z-index: 1;

  & h4 {
    font-size: var(--text-regular);
  }

  & p {
    font-weight: 400;
    color: var(--darkgray);
  }
}
