.root {
  margin-bottom: calc(var(--margin) * 2);
  justify-content: center;
  & ul {
    columns: 6;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  & a {
    text-decoration: none;
  }
  & h3 {
    text-transform: capitalize;
  }

  & h3:hover {
    color: inherit;
  }

  & h3:focus {
    color: inherit;
  }
}
