.root {
  @mixin column 6;
  justify-content: center;
  margin-top: var(--margin-half);
}

.list {
  margin: 0;
  @mixin nest;
  list-style: none;
}

.item {
  @mixin column 2;
  display: flex;

  & .line {
    border-left: 3px solid var(--lightgray);
    height: 100%;
    margin-right: 10px;
  }
}

.itemLink {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (--reduced) {
  .root {
    margin-top: var(--vertical-gutter);
    flex-basis: var(--col8);
  }
}

@media (--small) {
  .item {
    flex-basis: var(--col4);
  }
}
