.root {
  margin-bottom: 60px;

  & h2 {
    font-size: var(--text-xlarge);
    text-transform: capitalize;
  }

  & ul {
    position: relative;
  }

  & ul div:last-child {
    margin-bottom: 0;
  }
}

.verticalSeparator {
  position: absolute;
  left: var(--gutter);
  height: 100%;
  width: 0;
  border-left: solid 7px var(--lightgray);
}
