.root {
  flex-basis: var(--col8);
}

.heading {
  flex-basis: var(--col6);
  margin-top: var(--margin-half);
}

.list {
  flex-basis: var(--col6);
  margin: 0;
  list-style: none;
}

.item {
  flex-basis: var(--col2);
  display: flex;

  & .line {
    border-left: 3px solid var(--lightgray);
    height: 100%;
    margin-right: 10px;
  }
}

.itemLink {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (--reduced) {
  .heading {
    margin-top: var(--vertical-gutter);
    flex-basis: var(--col8);
  }

  .list {
    flex-basis: var(--col8);
  }
}

@media (--small) {
  .item {
    flex-basis: var(--col4);
  }
}
