.root {
  height: 32px;
  padding: 6px 12px;
  font-size: var(--text-small);
  font-weight: bold;
  color: var(--darkgray);
  cursor: pointer;
  fill: var(--darkgray);

  & svg {
    height: 12px;
    width: auto;
    fill: inherit;
    & path {
      fill: inherit;
    }
  }
}

.root:hover {
  color: var(--darkergray);
  fill: var(--darkergray);
}

.root:active {
  color: var(--processing-blue-mid);
  fill: var(--processing-blue-mid);
}

.copied {
  color: var(--processing-blue-light);
  fill: var(--processing-blue-light);
}

.copied:hover {
  color: var(--processing-blue-light);
  fill: var(--processing-blue-light);
}
