.root {
}

.category {
  @mixin nestedGrid;
  & > h2 {
    text-transform: capitalize;
  }
}

.categoryName {
  @mixin column 6;
}

.toggleButton {
  flex: 0 0 200px;
}

.categoryDescription {
  @mixin column;
}

.subcategoryName {
  @mixin column 1;
}

.examples {
  @mixin column 7;
}

/* .subcategory {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;

  & h3 {
    flex-basis: var(--col1);
    margin: 0;
    border-right: solid 6px var(--lightgray);
    font-size: var(--text-medium);
    text-transform: capitalize;
  }

  & h4 {
    font-size: var(--text-regular);
    font-weight: 400;
  }

  & ul {
    flex-basis: var(--col8);
  }

  & ul > li {
    flex-basis: cols(1, 6);
    transition: 0.2 ease;
  }

  & ul > li:hover .cover {
    opacity: 0.7;
  }

  & ul > li:hover h4 {
    color: var(--processing-blue-mid);
  }
} */

.cover {
  width: 100%;
  margin-bottom: 10px;
}

@media (--reduced) {
  .subcategory {
    & h3 {
      flex-basis: var(--col2);
    }

    & ul > li {
      flex-basis: var(--col2);
    }
  }
}

@media (--small) {
  .category {
    padding-top: var(--vertical-gutter);
  }

  .intro {
    padding-right: var(--gutter);
  }

  /* .subcategory {
    flex-wrap: wrap;

    & h3 {
      border-right: none;
      padding-top: var(--vertical-gutter);
      padding-bottom: var(--margin);
      flex-basis: var(--col8);
      flex-wrap: wrap;
    }

    & ul > li {
      flex-basis: var(--col4);
      & img {
        min-height: 120px;
      }
    }
  } */
}
