.root {
  position: relative;
  margin-bottom: 60px;

  & h2 {
    flex-basis: var(--col8);
    margin-bottom: 0;
    text-transform: capitalize;
  }

  & ul {
    flex-basis: var(--col8);
  }

  & ul div:last-child {
    margin-bottom: 0;
  }
}

.category {
  margin-bottom: var(--gutter-double);
}

.intro {
  flex-basis: var(--col8);
  padding-right: var(--col4);
  margin-bottom: calc(var(--margin) / 2);
}

.subcategory {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;

  & h3 {
    flex-basis: var(--col1);
    margin: 0;
    border-right: solid 6px var(--lightgray);
    font-size: var(--text-medium);
    text-transform: capitalize;
  }

  & h4 {
    font-size: var(--text-regular);
    font-weight: 400;
  }

  & ul {
    flex-basis: var(--col7);
    padding-right: var(--col1) !important;
  }

  & ul > li {
    flex-basis: cols(1, 6);
    transition: 0.2 ease;
  }

  & ul > li:hover .cover {
    opacity: 0.7;
  }

  & ul > li:hover h4 {
    color: var(--processing-blue-mid);
  }
}

.cover {
  width: 100%;
  margin-bottom: 10px;
}

.toggleButton {
  position: absolute;
  right: calc(var(--col1) + var(--gutter));
}

@media (--small) {
  .category {
    padding-top: var(--vertical-gutter);
  }

  .intro {
    padding-right: var(--gutter);
  }

  .subcategory {
    flex-wrap: wrap;

    & h3 {
      border-right: none;
      padding-top: var(--vertical-gutter);
      padding-bottom: var(--margin);
      flex-basis: var(--col8);
      flex-wrap: wrap;
    }

    & ul > li {
      flex-basis: var(--col4);
      & img {
        min-height: 120px;
      }
    }
  }
}
