.root {
  display: flex;
  position: relative;
  margin-top: var(--gutter);
  margin-bottom: var(--gutter-double);
  justify-content: center;

  transition: color 0.2s;

  & form {
    width: 100%;
    padding: 0;
  }

  & input {
    transition: border-color 0.2s;
    border: none;
    border-bottom: 1.5px solid var(--darkgray);
    width: 100%;
    padding-left: 10px;
    background-color: var(--lightgray);
    font-size: var(--text-medium);
    color: inherit;
    font-variant-ligatures: no-common-ligatures;
  }

  & input:focus {
    outline: none;
    border-bottom: 1.5px solid var(--black);
    color: var(--black);
  }

  & input:focus + .clearButton {
    color: var(--black);
  }

  & input::placeholder {
    opacity: 1;
    transition: color 0.2s, opacity 0.2s;

    color: var(--gray);
  }

  & input:focus::placeholder {
    opacity: 1;
    color: var(--darkgray);
  }
}

.clearButton {
  position: absolute;
  display: block;
  z-index: 100;
  right: var(--gutter);
  top: 0;
  align-self: baseline;
  font-size: var(--text-medium);
  color: inherit;

  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.root:hover {
  /* color: var(--darkgray); */
  & input {
    /* opacity: 0.8; */
    border-color: 3px solid var(--darkgray);
    color: inherit;
  }
  & input::placeholder {
    color: var(--darkgray);
  }
  & .clearButton {
    opacity: 0.8;
    color: inherit;
  }
}

.large {
  margin: var(--margin-half) 0;
  flex-basis: var(--col6);

  & input {
    border-bottom: 3px solid var(--gray);
    padding: 0 50px 12px 20px;
    background-color: white;
    font-size: var(--text-xlarge);
    color: var(--darkergray);
  }

  & .clearButton {
    /* margin-left: calc(-1 * var(--text-xlarge) - 60px); */
    font-size: var(--text-xlarge);
  }

  & input:focus {
    outline: none;
    border-bottom: 3px solid var(--black);
    color: var(--black);
  }

  & input::placeholder {
    opacity: 1;
    transition: color 0.2s, opacity 0.2s;
    color: var(--darkergray);
  }

  & input:focus {
    border-bottom: 3px solid var(--black);
  }

  @media (--reduced) {
    flex-basis: var(--col8);
  }
}
