.root {
  z-index: 1000;
  width: 100%;
  padding-top: var(--margin);
  padding-bottom: var(--margin);
  background-color: var(--processing-blue-dark);
  color: white;
  transition: 0.4s ease;
  align-self: flex-end;

  & h3 {
    margin-bottom: 0.6rem;
    color: inherit;
  }

  & a {
    text-decoration: underline;
  }
}

.contactWrapper {
  flex-basis: var(--col2);
  & p {
    margin-bottom: 0;
    font-size: var(--text-small);
  }
  & a {
    font-size: var(--text-small);
  }
}

.socialmediaWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: var(--col6);

  & > ul {
    display: flex;

    & li {
      margin-right: var(--gutter);
      font-size: var(--text-small);
    }
  }
}

.span {
  margin-top: var(--gutter);
  white-space: pre-wrap;
}

@media (--small) {
  .root {
    min-height: auto;
  }

  .contactWrapper {
    flex-basis: var(--col8);
    padding-top: var(--margin);
    padding-bottom: var(--margin);
  }

  .socialmediaWrapper {
    flex-basis: var(--col8);
    padding-bottom: var(--margin-double);
  }
}
