.root {
  z-index: 1000;
  width: 100%;
  height: 64px;
  padding: 22px;
  background-color: var(--processing-blue-dark);
  color: white;
}

.span {
  margin: 0 var(--margin);
  white-space: pre-wrap;
}
