.root {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 800;
  background-color: white;
}

.root h1 {
  margin: 0;
}

.root a {
  color: inherit;
  text-decoration: none;

  &:focus {
    color: var(--processing-blue-dark);
  }
}