.root {
  display: block;
  margin-right: 16px;
  z-index: 200;
  cursor: pointer;
  color: white;
}

.languageButton {
  height: 100%;
  font-family: var(--font);
  font-size: var(--text-regular);
  border-radius: 0;
  background-color: transparent;
  border-top: solid 6px transparent;
  border-bottom: solid 6px transparent;
}

.languageButton:hover {
  background-color: transparent;
  border-bottom: solid 6px var(--processing-blue-mid);
}

.languageButton:focus {
  background-color: var(--processing-blue-dark);
}

.languagePicker {
  position: fixed;
  display: none;
  background-color: var(--processing-blue-dark);

  & li {
    padding: 16px;
  }
}

.show {
  display: block;
}

@media (--small) {
  .root {
    margin-right: 0px;
  }
}
