.root {
  display: block;
  z-index: 200;
  cursor: pointer;
  color: white;
}

.languageButton {
  height: 100%;
  padding-bottom: 0;
}

.languagePicker {
  position: fixed;
  display: none;
  background-color: var(--lightgray);
  color: var(--processing-blue-dark);

  & li {
    padding: 16px;
  }
}

.show {
  display: block;
}

@media (--small) {
  .root {
    margin-right: 0px;
  }
}
