.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  & h2 {
    scroll-margin-top: 150px;
  }

  & h3 {
    scroll-margin-top: 150px;
  }
}

.main {
  position: relative;
  flex: 1;
  padding-top: var(--vertical-margin-large);
  padding-bottom: var(--vertical-margin-large);
}

.withBreadcrumbs {
  padding-top: var(--vertical-margin-xsmall);
}

/* Foundation donate banner custom properties */
body{
  --donate-banner-dark: #182998;
  --donate-banner-background: var(--donate-processing-background)
}