main {
  top: 150px;
  position: relative;
  flex: 1;
  transition: 0.2s ease-in-out;
  padding-bottom: var(--vertical-gutter);
  margin-bottom: 60px;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.headerScrolled {
  top: 60px;
}

.homepage {
  padding-bottom: 0px;
  margin-bottom: 60px;
}

.hasSidebar {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media (--small) {
  main {
    top: 100px;
  }

  .headerScrolled {
    top: 100px;
  }
}
