main {
  top: 150px;
  position: relative;
  flex: 1;
  transition: 0.2s ease-in-out;
  margin-bottom: 60px;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.headerScrolled {
  top: 60px;
}
