.root {
  align-items: baseline;
}

.show {
  height: 100px;
  padding: var(--gutter) 0;
  transition: 0.2s ease-in-out;
}

.noshow {
  height: 60px;
  padding: calc(var(--gutter) / 2) 0;
  transition: 0.2s ease-in-out;

  & .logo {
    font-size: var(--text-large);
    transition: 0.2s ease-in-out;
  }
}

.logo {
  height: 100%;
  flex-basis: var(--col2);
  font-size: var(--text-xlarge);
  transition: 0.2s ease-in-out;

  & svg {
    width: 68px;
    height: 100%;
  }

  & a:hover {
    color: var(--processing-blue-dark);
  }
  @media (--small), (--medium) {
    text-align: center;
    font-size: var(--text-large);
    & svg {
      width: 34px;
      height: 100%;
    }
  }
}

.menu {
  display: flex;
  flex-basis: var(--col4);
  list-style: none;
  justify-content: space-between;
  @media (--small), (--medium) {
    flex-basis: var(--col5);
  }
}

.item {
  position: relative;
  display: inline-block;
  padding-left: 8px;
  border-left: solid 6px transparent;
  cursor: pointer;
  color: var(--processing-blue-dark);
  font-size: var(--text-medium);
  font-weight: 700;
  & a:hover {
    color: var(--processing-blue-dark);
  }

  @media (--small), (--medium) {
    font-size: var(--text-regular);
  }

  & button {
    font-size: var(--text-medium);
    font-weight: 700;
    color: var(--processing-blue-dark);
  }
}

.item:hover {
  border-left: solid 6px var(--processing-blue-dark);
}

.active {
  border-left: solid 6px var(--processing-blue-dark);
}

.subitem {
  display: inline-block;
  margin-right: 2rem;
  padding-left: 0.6rem;
  cursor: pointer;
  border-left: solid 4px var(--lightgray);
  color: var(--processing-blue-dark);
  font-size: var(--text-regular);
  font-weight: 700;
  word-break: keep-all;
  @media (--small), (--medium) {
    font-size: var(--text-regular);
  }
}

.subitem:hover {
  border-left: solid 4px var(--processing-blue-mid);
  color: var(--processing-blue-mid);

  & a:hover {
    color: var(--processing-blue-mid);
  }
}

.subitem:active {
  border-left: solid 4px var(--processing-blue-dark);
  color: var(--processing-blue-dark);
  & a:hover {
    color: var(--processing-blue-dark);
  }
}

.submenu {
  display: flex;
  position: absolute;
  left: -6px;
  z-index: 30;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  list-style: none;
  padding-top: 14px;
  padding-bottom: 10px;
  background-color: white;
}

.hasSubmenu:hover {
  z-index: 40;
}

.subMenuActive,
.item:hover .submenu {
  opacity: 1;
  max-height: 400px;
}
