.root {
  align-items: center;
  justify-content: space-around;
}

.show {
  height: 100px;
  padding: var(--gutter) 0;
  transition: 0.2s ease-in-out;
}

.noshow {
  height: 60px;
  padding: calc(var(--gutter) / 2) 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;

  & .logo {
    font-size: var(--text-large);
    transition: 0.2s ease-in-out;
  }
}

.logo {
  white-space: nowrap;
  height: 100%;
  flex-basis: var(--col2);
  font-size: var(--text-xlarge);
  transition: 0.2s ease-in-out;

  & svg {
    width: 68px;
    height: 100%;
  }

  & a:hover {
    color: var(--processing-blue-dark);
  }
}

.menu {
  display: flex;
  flex-basis: var(--col4);
  list-style: none;
  justify-content: space-between;
}

.item {
  position: relative;
  display: inline-block;
  padding-left: 8px;
  border-left: solid 6px transparent;
  cursor: pointer;
  color: var(--processing-blue-dark);
  font-size: var(--text-medium);
  font-weight: 700;

  & a:hover {
    color: var(--processing-blue-dark);
  }

  & button {
    color: var(--processing-blue-dark);
    font-weight: 700;
  }

  & button:hover {
    color: var(--processing-blue-dark);
  }
}

.item:hover {
  border-left: solid 6px var(--processing-blue-dark);
}

.active {
  border-left: solid 6px var(--processing-blue-dark);
}

.submenu {
  display: flex;
  position: absolute;
  left: -6px;
  z-index: 30;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  padding-top: 14px;
  padding-bottom: 10px;
  list-style: none;
  background-color: white;
}

.hasSubmenu:hover {
  z-index: 40;
}

.subitem {
  display: inline-block;
  margin-right: 2rem;
  padding-left: 0.6rem;
  cursor: pointer;
  border-left: solid 4px var(--lightgray);
  color: var(--processing-blue-dark);
  font-size: var(--text-regular);
  font-weight: 700;
  word-break: keep-all;
}

.subitem:hover {
  border-left: solid 4px var(--processing-blue-mid);
  color: var(--processing-blue-mid);

  & a:hover {
    color: var(--processing-blue-mid);
  }
}

.subitem:active {
  border-left: solid 4px var(--processing-blue-dark);
  color: var(--processing-blue-dark);
  & a:hover {
    color: var(--processing-blue-dark);
  }
}

.item:hover .submenu {
  opacity: 1;
  max-height: 400px;
}

.menuToggle {
  flex-basis: var(--col2);
  padding-right: var(--col1);
}

.root.expanded {
  max-height: none;
}

.menu.expanded {
  flex-wrap: nowrap;
  position: relative;
  z-index: 200;
  opacity: 1;
  height: calc(100vh - 50px - var(--gutter) * 2);
  max-width: 100%;

  & > .item {
    display: block;
  }

  & > .subitem {
    display: block;
  }
}

@media (--medium) {
  .logo {
    display: flex;
    flex-basis: var(--col1);
    text-align: center;
    font-size: var(--text-medium);

    & svg {
      width: 34px;
      height: 100%;
    }

    & a {
      align-self: center;
    }
  }

  .menu {
    flex-basis: var(--col5);
  }

  .item {
    font-size: var(--text-regular);
  }

  .subitem {
    font-size: var(--text-small);
  }
}

@media (--reduced) {
  .logo {
    padding-left: 0;
    padding-right: 0;
    font-size: var(--text-small);
  }

  .menu {
    flex-basis: var(--col6);
  }
}

@media (--small) {
  .root {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-height: 50px;
    padding-left: var(--margin);
    padding-right: var(--margin);
  }

  .show {
    height: auto;
    padding-left: var(--margin);
    padding-right: var(--margin);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .noshow {
    height: auto;
    padding-left: var(--margin);
    padding-right: var(--margin);
  }

  .logo {
    display: none;
    height: 0px;
  }

  .menu {
    flex-basis: var(--col5);
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 4px;
    padding-bottom: calc(var(--margin) * 4);
    opacity: 0;
    position: relative;
    z-index: -1;
    height: 0;
    transition: opacity 0.1s ease-in-out;

    & > .item {
      display: none;
      border-left: none;
    }

    & > .item:hover {
      border-left: none;
    }

    & > .subitem {
      display: none;
      border-left: none;
    }

    & > .subitem:hover {
      border-left: none;
    }
  }

  .item {
    display: block;
    padding-left: 0px;
    padding: var(--gutter) 0px;
    border-left: none;
    border-bottom: 2px solid var(--lightgray);
    font-size: var(--text-xlarge);
  }

  .submenu {
    overflow: auto;
    position: relative;
    flex-direction: column;
    opacity: 1;
    max-height: none;
  }

  .subitem {
    display: block;
    border-left: solid 6px var(--lightgray);
    font-size: var(--text-xlarge);
    padding-bottom: 6px;
  }
}
