.root {
  height: 32px;
  padding: 6px 12px;
  font-size: var(--text-small);
  font-weight: bold;
  color: var(--darkgray);
  cursor: pointer;
  fill: var(--darkgray);

  & svg {
    height: 12px;
    width: auto;
  }
}

.root:hover {
  color: var(--darkergray);
  fill: var(--darkergray);
}

.root:active {
  color: var(--processing-blue-mid);
  fill: var(--processing-blue-mid);
}