.root {
  display: table;
}

.item {
  display: table-row;
}

.root code,
.root span {
  display: table-cell;
  padding-bottom: var(--margin-quarter);
}

.root code {
  font-size: var(--text-normal);
  padding-right: var(--gutter);
  white-space: nowrap;
}

.root span {
}

.root span b,
.root span code {
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-mono);
  font-size: 85%;
  background-color: var(--lightgray);
  padding: 0.1em 0.3em;
  border-radius: 6px;
  font-variant-ligatures: no-common-ligatures;
}

/* Variant: reference */

.parameters code {
  font-weight: bold;
}

.parameters code.type {
  font-weight: normal;
}
