.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.category {
  & h2 {
    padding-top: var(--vertical-gutter);
    font-size: var(--text-xlarge);
    flex-basis: var(--col8);
    text-transform: capitalize;
  }

  & ul {
    position: relative;
    flex-basis: var(--col8);
  }

  & ul div:last-child {
    margin-bottom: 0;
  }

  @media (--small) {
    padding-top: calc(var(--vertical-gutter) * 2);
  }
}

.subcategory {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;

  @media (--small) {
    flex-direction: column;
  }
}

.subcategoryTitle {
  flex-basis: cols(1.5);
  height: 100%;
  display: flex;
  align-items: stretch;

  & .line {
    border-left: solid 7px var(--lightgray);
  }

  & h3 {
    margin: 0;
    padding-left: var(--gutter);
    font-size: var(--text-large);
    text-transform: capitalize;
  }

  @media (--small) {
    flex-basis: var(--col3);
    padding-left: 0;
    padding-bottom: var(--gutter-double);

    & .line {
      border-left: solid 12px var(--lightgray);
    }
  }
}

.subcategoryList {
  flex-basis: cols(5.5);
  display: flex;
  align-items: stretch;

  & .line {
    border-left: solid 3px var(--lightgray);
  }

  & li {
    margin-bottom: 8px;
    width: 100%;
    list-style: none;

    &:hover {
      background-color: var(--lightgray);
    }
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & li > * {
    display: inline-block;
  }

  & p {
    margin: 0;
  }

  @media (--small) {
    flex-basis: var(--col5);

    & li {
      margin-bottom: calc(var(--gutter) * 3);
    }
  }
}
.item {
  display: flex;
  align-items: baseline;

  & span {
    font-size: var(--text-regular);
  }

  @media (--small) {
    flex-wrap: wrap;
  }
}

.itemName {
  flex-basis: cols(1.5, 5.5);
  font-family: var(--font-mono);
  font-size: var(--text-regular);
  /* font-weight: bold; */
  text-decoration: none;
  color: var(--processing-blue-dark);

  @media (--small) {
    flex-basis: var(--col8);
    margin-bottom: var(--gutter);
  }
}

.itemBrief {
  flex-basis: cols(4, 5.5);

  @media (--small) {
    flex-basis: var(--col8);
  }
}
