.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.category {
  margin-bottom: 60px;

  & h2 {
    font-size: var(--text-xlarge);
    flex-basis: cols(8, 8);
    text-transform: capitalize;
  }

  & ul {
    position: relative;
    flex-basis: cols(8, 8);
  }

  & ul div:last-child {
    margin-bottom: 0;
  }
}

.subcategory {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;

  & h3 {
    margin: 0;
    border-right: solid 3px var(--lightgray);
    height: 100%;
    flex-basis: cols(1.5, 8);
    padding: 0 var(--gutter-double);
    font-size: var(--text-large);
    text-transform: capitalize;
  }

  & li {
    margin-bottom: 8px;
    width: 100%;
    list-style: none;
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & li > * {
    display: inline-block;
  }

  & p {
    margin: 0;
  }
}

.verticalSeparator {
  position: absolute;
  left: var(--gutter);
  border-left: solid 7px var(--lightgray);
  height: 100%;
  width: 0;
}

.itemLine {
  display: flex;
  align-items: baseline;

  & span {
    font-size: var(--text-regular);
  }
}

.itemName {
  flex-basis: cols(2, 8);
  font-family: var(--font-mono);
  font-size: var(--text-medium);
  text-decoration: none;
  color: var(--processing-blue-dark);
}

.itemBrief {
  flex-basis: cols(5, 8);
}
