.root {
  flex-basis: cols(6, 6);
  margin-bottom: var(--vertical-gutter);
}

.title,
.content {
  flex-basis: 100%;
}

.columns .title {
  white-space: nowrap;
  flex-basis: cols(1, 6);
}

.columns .content {
  flex-basis: cols(5, 6);
}

.root.collapsed {
  flex-basis: var(--col8);
  padding-left: var(--push1);
}

.columns.collapsed .title {
  flex-basis: cols(1);
}

.columns.collapsed .content {
  flex-basis: cols(5, 7);
}

@media (--reduced) {
  .root {
    flex-basis: var(--col8);
  }

  .columns .title {
    flex-basis: var(--col2);
    padding-left: 0;
  }

  .columns .content {
    flex-basis: var(--col5);
  }
}

@media (--small) {
  .root {
    flex-direction: column;
  }
}
