/*  Code list  */

.codeList {
  display: table;
}

.codeList .item {
  display: table-row;
}

.codeList code,
.codeList span {
  display: table-cell;
  padding-bottom: var(--margin-quarter);
}

.codeList code {
  font-size: var(--text-normal);
  padding-right: var(--gutter);
}

.codeList a {
  color: var(--processing-blue-mid);
}

.codeList a:hover {
  color: var(--processing-blue-light);
}

.codeList span b,
.codeList span code {
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-mono);
  font-size: 85%;
  background-color: var(--lightgray);
  padding: 0.1em 0.3em;
  border-radius: 6px;
  font-variant-ligatures: no-common-ligatures;
}

/* Variant: reference */

.codeList.parameters code {
  font-weight: bold;
}

.codeList.parameters code.name {
  white-space: nowrap;
}

.codeList.parameters code.type {
  word-break: keep-all;
  font-weight: normal;
  max-width: 600px;
}

/*  Example list  */

.exampleList .item {
  margin-bottom: var(--margin-half);
}

.exampleList .code {
  flex-basis: calc(100% / 6 * 4);
  position: relative;
}

.exampleList .image {
  flex-basis: calc(100% / 6 * 2);
}
