.category {
  @mixin column;
  margin-top: var(--vertical-gutter);
  font-size: var(--text-xlarge);
  text-transform: capitalize;
}

.subcategory {
  @mixin column;
  @mixin nest;
  position: relative;
  margin-bottom: 30px;
}

.subcategoryList {
  @mixin column 5.5;

  & li {
    padding: 4px 0;
    border-left: solid 3px var(--lightgray);
    list-style: none;

    &:hover {
      background-color: var(--lightgray);
    }
  }

  & li > * {
    display: inline-block;
  }

  & p {
    margin: 0;
  }
}

.subcategoryTitle {
  @mixin column 1.5;
  display: flex;

  & .line {
    border-left: solid 7px var(--lightgray);
  }

  & h3 {
    margin: 0;
    padding-left: var(--gutter);
    font-size: var(--text-large);
    text-transform: capitalize;
  }
}

.item {
  display: flex;
  align-items: baseline;

  & span {
    font-size: var(--text-regular);
  }
}

.itemName {
  @mixin column 1.5, 0, 5.5;
  font-family: var(--font-mono);
  font-size: var(--text-regular);
  font-variant-ligatures: no-common-ligatures;
  text-decoration: none;
  color: var(--processing-blue-dark);
}

.itemBrief {
  @mixin column 4, 0, 5.5;

  & b {
    @mixin code;
  }
}

@media (--reduced) {
  .subcategory {
    flex-direction: column;
  }

  .subcategoryTitle {
    flex-basis: var(--col3);
    padding-left: 0;
    margin-bottom: var(--gutter);

    & .line {
      border-left: solid 12px var(--lightgray);
      margin-left: var(--gutter);
    }
  }

  .subcategoryList {
    flex-basis: var(--col5);
    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));

    & li {
      border-left: none;
      margin-bottom: var(--gutter-half);
    }
  }

  .item {
    flex-wrap: wrap;
  }
}

@media (--small) {
  .subcategoryTitle {
    & .line {
      border-left: solid 12px var(--lightgray);
    }
  }

  .subcategoryList {
    flex-basis: var(--col5);

    & li {
      margin-bottom: var(--gutter);
    }
  }

  .itemName {
    flex-basis: var(--col8);
    margin-bottom: var(--gutter);
  }

  .itemBrief {
    flex-basis: var(--col8);
  }
}
