.root {
  flex-basis: cols(1, 8);
}

.input {
  padding: 4px 10px 2px 12px;
  border: 2px solid var(--lightgray);
  background-color: var(--lightgray);
  border: 2px solid transparent;
  border-radius: 40px;
  margin-left: auto;
  width: 100%;
  padding: 4px 10px 2px 12px;
  height: 100%;
  outline: none;
  transition: 1s ease;
}

.input:focus {
  border-color: var(--processing-blue-light);
}

.input::placeholder {
  color: var(--darkgray);
  opacity: 1;
}

.searchBar {
  display: flex;
  flex-direction: row;
  flex-basis: var(--col6);
  justify-content: flex-end;
}

.searchBarBig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchIcon {
  align-items: flex-end;
}

.hint {
  position: absolute;
  margin-top: 30px;
  font-size: var(--text-small);
  color: var(--processing-blue-mid);
}

@media (--medium) {
  .root {
    align-self: center;
    flex-basis: var(--col2);
  }
}
@media (--reduced) {
  .root {
    flex-basis: var(--col12);
  }

  .input {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 40px;
    margin-left: auto;
    width: 0%;
    padding: 4px 10px 2px 12px;
    height: 100%;
    outline: none;
    transition: 0.5s ease;
  }

  .inputShow {
    width: var(--col6);
    padding: 4px 10px 2px 12px;
    border: 2px solid var(--lightgray);
    background-color: var(--lightgray);
  }

  .hint {
    position: absolute;
    top: 100px;
    font-size: var(--text-small);
    color: var(--processing-blue-mid);
  }
}
