.root {
  flex-basis: cols(1.5, 8);
  @media (--medium), (--small) {
    align-self: center;
    flex-basis: auto;
  }
}

.input {
  border: solid 4px var(--gray);
  border-radius: 40px;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.searchButton {
  border: solid 4px var(--gray);
  border-radius: 36px;
  width: 36px;
  height: 36px;
}

.large {
  padding-left: var(--pushHalf);
}
