.root {
  flex-basis: cols(1, 8);
  @media (--medium) {
    align-self: center;
    flex-basis: auto;
  }
  @media (--small) {
    align-self: flex-start;
    flex-basis: var(--col1);
  }
}

.input {
  border: 2px solid var(--lightgray);
  background-color: var(--lightgray);
  border-radius: 40px;
  margin-left: auto;
  width: 100%;
  height: 100%;
  padding: 4px 10px 2px 12px;
  outline: none;
}

.input:focus {
  border-color: var(--processing-blue-light);
}

.input::placeholder {
  color: var(--darkgray);
  opacity: 1;
}

.large {
  padding-left: var(--push-half);
}
