.root {
  /* flex-basis: var(--col1); */
}

.input {
  padding: 4px 10px 2px 12px;
  border: 2px solid var(--lightgray);
  background-color: var(--lightgray);
  border: 2px solid transparent;
  border-radius: 40px;
  margin-left: auto;
  width: 100%;
  padding: 4px 10px 2px 12px;
  height: 100%;
  outline: none;
  transition: 1s ease;
}

.input:focus {
  border-color: var(--processing-blue-light);
}

.input::placeholder {
  color: var(--darkgray);
  opacity: 1;
}

.searchBar {
  display: flex;
  flex-direction: row;
  flex-basis: var(--col6);
  justify-content: flex-end;
}

.hint {
  position: absolute;
  margin-top: 30px;
  font-size: var(--text-small);
  color: var(--processing-blue-mid);
}

@media (--medium) {
  .root {
    flex-basis: var(--col2);
  }
}
@media (--reduced) {
  .root {
    align-self: baseline;
    flex-basis: var(--col4);
  }

  .hint {
    position: absolute;
    margin-top: 30px;
    font-size: var(--text-small);
    color: var(--processing-blue-mid);
  }
}
