.root {
  display: flex;
  margin-right: 16px;
  flex-wrap: wrap;
  background-color: var(--processing-blue-dark);
  cursor: pointer;
  color: white;
}

.select {
  display: flex;
  background-color: var(--processing-blue-dark);
  margin: 0;
  border-style: none;
  padding: 0 var(--gutter);
  color: white;
  font-size: var(--text-regular);
  font-weight: 700;
  text-align: right;
  list-style: none;
}

.option {
  position: relative;
  margin-left: 1rem;
  background-color: var(--processing-blue-dark);
  border-style: none;
  color: white;
  appearance: none;
}
