.root {
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: var(--processing-blue-dark);
  cursor: pointer;
}

.select {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  border-style: none;
  font-size: var(--text-regular);
  font-weight: 700;
  text-align: right;
  background-color: var(--processing-blue-dark);
}

.option {
  position: relative;
  margin-left: 1rem;
  color: white;
  background-color: var(--processing-blue-dark);
}
