.root {
  margin-right: var(--gutter-double);
  padding: 10px 0;
  & a {
    padding-left: var(--gutter);
    text-decoration: none;
    font-size: var(--text-small);
    line-height: 1.6rem;
    font-family: var(--font-mono);
    color: var(--black);
    display: block;
    &:hover {
      color: var(--processing-blue-mid);
    }
  }
}
