.root {
  margin-right: var(--gutter-double);
  padding: 10px 0;
  height: 47vh;

  & a {
    display: block;
    padding-left: var(--gutter);
    font-size: var(--text-small);
    line-height: 1.6rem;
    font-family: var(--font-mono);
    text-decoration: none;
    color: var(--black);

    &:hover {
      color: var(--processing-blue-mid);
    }
  }
}

.examples {
  font-family: var(--font);
  font-weight: 400;
}
