.root {
  flex-flow: column;
  flex-basis: var(--margin);
  left: 0;
  z-index: 200;
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 150px;
  left: 0;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  transition: top 0.2s ease-in-out, width 0.4s ease;
  background: var(--lightgray);

  & h2 {
    padding-top: 14px;
  }

  & a {
    padding-left: var(--gutter);
    text-decoration: none;
    font-size: var(--text-small);
    line-height: 1.6rem;
    font-family: var(--font-mono);
    text-overflow: ellipsis;
    color: var(--black);
    display: block;
    &:hover {
      color: var(--processing-blue-mid);
    }
  }
}

.sidebarWrapper.headerScrolled {
  top: 60px;
  height: calc(100vh - 60px);
}

.show {
  flex-basis: var(--col1-and-half);

  & .sidebarWrapper {
    padding-left: var(--margin);
    padding-right: var(--gutter);
    max-width: calc((100% + var(--margin) * 2 + var(--gutter) * 40) / 8 * 1.5);
  }
}

.toggleButton {
  position: absolute;
  top: var(--gutter);
  right: var(--gutter);
  cursor: pointer;
  font-weight: 700;
  font-size: var(--text-large);
  color: var(--darkgray);
}

.listWrapper {
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

@media (--reduced) {
  .root {
    width: var(--margin-double);
    position: absolute;
    left: auto;
    right: 0;
  }

  .root.show {
    width: 100%;
  }

  .show {
    & .sidebarWrapper {
      max-width: none;
    }
  }

  .sidebarWrapper {
    right: 0;
    left: auto;
    width: 100%;
    max-width: auto;
  }
}

@media (--small) {
  .root {
    right: 0;
    left: auto;
    width: var(--margin);
  }

  .sidebarWrapper {
    top: 100px;
    right: 0;
    left: auto;
    height: calc(100vh - 100px);
    width: var(--col8);
    padding-left: calc(var(--margin-mobile) + var(--gutter-mobile));
    padding-right: calc(var(--margin-mobile) + var(--gutter-mobile));
    padding-bottom: var(--vertical-gutter);
  }

  .show {
    right: 0;
    left: auto;
    width: var(--col8);
    padding-left: calc(var(--margin-mobile) + var(--gutter-mobile));
    padding-right: calc(var(--margin-mobile) + var(--gutter-mobile));
    padding-bottom: var(--vertical-gutter);
    & .sidebarWrapper {
      max-width: auto;
    }
  }
}
