.root {
  border-bottom: solid 1px var(--gray);
  margin-right: var(--gutter-double);
  padding: 10px 0;
  & h3 {
    margin-bottom: 0;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
      color: var(--processing-blue-mid);
    }
  }
  & ul {
    margin: 3px 0;
    & > div:last-child {
      border-bottom: none;
    }
  }
}

.sub {
  border-bottom: solid 1px white;
  & h4 {
    text-transform: capitalize;
    padding: 3px 0;
  }
  & ul {
    margin: 0px 0px 16px 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: solid 2px white;
  }
}

.expanded {
  color: var(--processing-blue-mid);
}

.notSubcategory {
  border-bottom: none;
}

.expand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  background-color: var(--processing-blue-dark);
  color: white;
  & span {
    font-size: var(--text-regular);
    height: 100%;
    font-weight: bold;
    line-height: 1;
  }
}

.subcategoryLabel {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  cursor: pointer;
  padding: 4px 0;
  & h4 {
    margin-bottom: 0;
  }
  &:hover {
    & h4 {
      color: var(--processing-blue-mid);
    }
    & .expand {
      background-color: var(--processing-blue-mid);
    }
  }
}
