.root {
  display: flex;
  flex-direction: row;

  & h3 {
    font-size: var(--text-medium);
    text-transform: capitalize;
  }

  & li {
    list-style: none;
  }

  & li > * {
    display: inline-block;
  }
}

.subgrid {
  display: flex;
  align-items: baseline;
}

.functionName {
  color: var(--processing-blue-dark);
  font-size: var(--text-medium);
  text-decoration: none;
}
