.root {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  & h3 {
    font-size: var(--text-medium);
    text-transform: capitalize;
    border-right: solid 3px var(--lightgray);
    margin: 0;
    padding: 0 calc(var(--gutter) * 2);
    height: 100%;
  }

  & span {
    font-family: "Space Mono", monospace;
    font-size: var(--text-regular);
  }

  & li {
    list-style: none;
    margin-bottom: 8px;
  }

  & ul li:last-child {
    margin-bottom: 0;
  }

  & li > * {
    display: inline-block;
  }

  & p {
    margin: 0;
  }
}

.subgrid {
  display: flex;
  align-items: baseline;
}

.functionName {
  color: var(--processing-blue-dark);
  font-size: var(--text-medium);
  text-decoration: none;
}
