.root {
  position: fixed;
  left: 0;
  z-index: 100;
  overflow: hidden;
  transition: width 0.4s ease, height 0.2s ease-in-out;
  height: calc(100vh - 150px);
  width: calc(var(--column) * 2 - var(--gutter));
  padding-left: var(--gutter-double);
  padding-right: var(--gutter-double);
  background: var(--lightgray);
  white-space: nowrap;

  & h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & h4 {
    margin-bottom: 12px;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }

  & ul {
    white-space: break-spaces;
  }

  & a {
    text-decoration: none;
    line-height: 1.6rem;
    text-overflow: ellipsis;
    color: var(--processing-blue-dark);
    &:hover {
      color: var(--processing-blue-mid);
    }
  }

  @media (--small) {
    position: relative;
    height: auto;
    flex-basis: var(--col8);
    margin-top: var(--vertical-gutter);
    margin-bottom: var(--vertical-gutter);
    padding-bottom: var(--vertical-gutter);

    & h3 {
      margin-top: var(--vertical-gutter);
      margin-bottom: var(--gutter);
    }

    & h4 {
      margin-bottom: 6px;
    }
  }
}

.headerScrolled {
  height: calc(100vh - 64px);

  @media (--small) {
    height: auto;
  }
}
