.root {
  flex-basis: 100%;
  margin-top: var(--margin);

  & > ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.tab {
  display: flex;
  align-items: center;
  border-radius: 0px;
  padding: var(--gutter-half) var(--gutter);
  background-color: var(--gray);
  color: var(--black);
}

.active {
  background-color: var(--lightgray);
}

.code {
  position: relative;
  display: none;
}

.activeCode {
  display: block;
}

.codeBlock {
  max-width: 100%;
  padding-bottom: var(--gutter-double);
  white-space: break-spaces;
}
