.root {
  flex-basis: cols(8, 8);
  margin-top: var(--margin);

  & > ul {
    position: relative;
    display: flex;
    padding-left: var(--push1);
    padding-right: var(--push1);
    align-items: center;
    list-style: none;
  }

  & > div {
    padding-left: var(--push1);
    padding-right: var(--push1);
  }
}

.tab {
  display: flex;
  align-items: center;
  padding: var(--gutter-half) var(--gutter);
  background-color: var(--gray);
}

.active {
  background-color: var(--lightgray);
}

.codeBlock {
  min-width: calc((100vw - var(--margin) * 2) / 8 * 6);
  padding-bottom: var(--gutter-double);
}
