.root {
  position: relative;
  border-radius: 19px;
  height: 38px;
  width: auto;
  padding: 4px;
  color: var(--darkergray);
  background: var(--gray);
  cursor: pointer;

  & > div {
    height: 100%;
    border-radius: 16px;
    width: auto;
    background: var(--lightgray);
  }

  & span {
    display: inline-block;
    height: 30px;
    line-height: 24px;
    padding: 4px 12px;
    border-radius: 16px;
  }
}

.pressed {
  color: white;
  background: var(--processing-blue-mid);
}

@media (--small) {
  .root {
    height: 32px;

    & span {
      height: 24px;
      line-height: 18px;
    }
  }
}
