.root {
  & a {
    display: flex;
    flex-direction: row;
    align-items: center;

    & h4 {
      margin-bottom: 0;
      color: white;

      @media (--small) {
        display: none;
      }
    }
  }
}

@media (--small) {
  .root {
    & a {
      & h4 {
        display: none;
      }
    }
  }
}
