.root {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  background-color: var(--processing-blue-dark);
  color: white;
  @media (--small) {
    font-size: var(--text-xsmall);
  }
}

.show {
  height: 50px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.noshow {
  visibility: hidden;
  height: 0px;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  .menu {
    visibility: hidden;
  }
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  box-sizing: border-box;
  height: 100%;

  @media (--small) {
    margin-right: var(--gutter-double);
  }
}

.item:hover {
  border-bottom: solid 6px var(--processing-blue-mid);
  padding-top: 6px;
}

.foundation:hover {
  border-color: var(--foundation-mid);
}

.p5:hover {
  border-color: var(--p5-mid);
}

.logo {
  margin-right: 5px;
  width: 30px;
  height: auto;

  @media (--small) {
    margin-right: 0px;
  }
}
