.root {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  background-color: var(--processing-blue-dark);
  color: white;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  box-sizing: border-box;
  height: 100%;
}

.item:hover {
  border-bottom: solid 6px var(--processing-blue-mid);
  padding-top: 6px;
}

.selector {
  margin-right: 16px;
}
