.root {
  & img {
    height: inherit;
    width: inherit;
  }

  & figure {
    margin: 0;
  }

  & figcaption {
    font-size: var(--text-xsmall);
  }
}

.root.inline {
  vertical-align: middle;
  display: inline-block;
  & picture {
    margin-top: 0;
    margin-bottom: 0;
  }
}
