.root {
  margin-top: var(--vertical-margin-large);
  margin-bottom: var(--vertical-margin-large);
  max-width: 100%;

  & > picture,
  & > img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  & img {
    max-width: 100%;
    max-height: 100%;
  }

  & figure {
    margin: 0;
  }

  & figcaption {
    font-size: var(--text-xsmall);
  }

}

.root.inline {
  vertical-align: middle;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.side {
  float: right;
  margin-left: var(--gutter);
  margin-top: 0;
  right: 0;
  clear: both;
}

@media (--reduced) {
  .side {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}