div.root {
  width: 100%;
  color: var(--darkergray);
  font-family: var(--font);
  font-size: var(--text-regular);

  & p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
}
