.root {
  & span {
    color: var(--darkergray);
    font-family: "Space Grotesk";
    font-size: var(--text-regular);

    & p {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
}
