.root {
  & span {
    color: var(--darkgray);
    font-family: var(--font);
    font-size: var(--text-regular);

    & p {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
}
