.root {
  align-items: baseline;
  flex-wrap: wrap;
}

.list {
  list-style: none;

  & li {
    display: flex;
  }

  & li,
  & li span,
  & li a {
    padding: 0;
  }

  & li pre {
    margin: 0 16px 16px 0;
    padding: 16px;
  }
}

p {
  display: flex;
}
