.container{
    margin-top: calc(var(--vertical-margin-large) * -1);
    background: var(--lightgray);
    margin-bottom: var(--vertical-margin-large);

    padding-bottom: var(--vertical-margin-medium);
    color: var(--processing-blue-dark)
}
.info{
    margin-top: var(--vertical-margin-large);
    padding: var(--gutter);
    h1{
        font-size: var(--text-xlarge);
        margin-bottom: var(--gutter);
        color: var(--processing-blue-dark)
    }
    p{
        max-width: 30em;
        font-size: var(--text-medium);
        
    }
}
.bar{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    flex-basis: var(--col8);
    padding: var(--gutter);
    svg{
        width: 1.25em;
        height: 1.25em;
        align-self: center;
    }
    li{
        display: flex;
        gap: var(--gutter-half);
        padding: var(--gutter-threeq) var(--gutter);
        background: var(--white);
        color: var(--download-button);
        font-weight: bold;
        font-size: var(--text-medium);
    }
    p{
        align-self: center;
        margin: 0;
    }
}
li.active{
    background: var(--download-button);
    color: var(--white);
}