.category {
  flex-basis: var(--col8);
  margin-top: var(--vertical-margin-large);
  font-size: var(--text-xlarge);
  text-transform: capitalize;
}

.subcategory {
  flex-basis: var(--col8);
  margin-bottom: 30px;
}

.subcategoryTitle {
  flex-basis: calc(100% / 8 * 1.5);
  display: flex;

  & .line {
    border-left: solid 7px var(--lightgray);
  }

  & h3 {
    margin: 0;
    padding-left: var(--gutter);
    font-size: var(--text-large);
    text-transform: capitalize;
  }
}

.subcategoryList {
  flex-basis: calc(100% / 8 * 5.5);
}

.item {
  align-items: baseline;
  padding: 4px 0;
  border-left: solid 3px var(--lightgray);
  list-style: none;
  flex-wrap: nowrap;
  &:hover {
    background-color: var(--lightgray);
  }

  & span {
    font-size: var(--text-regular);
  }
}

.itemName {
  flex-basis: calc(100% / 5.5 * 1.5);
  font-family: var(--font-mono);
  font-feature-settings: var(--font-mono-settings);
  font-size: var(--text-regular);
  font-variant-ligatures: none;
  text-decoration: none;
  color: var(--processing-blue-dark);
  white-space: nowrap;
}

.itemBrief {
  flex-basis: calc(100% / 5.5 * 4);

  & p {
    margin: 0;
  }

  & b {
    font-weight: normal;
    font-style: normal;
    font-family: var(--font-mono);
    font-feature-settings: var(--font-mono-settings);
    font-size: 85%;
    background-color: var(--lightgray);
    padding: 0.1em 0.3em;
    border-radius: 6px;
    font-variant-ligatures: none;
  }
}

@media (--reduced) {
  .subcategoryTitle {
    flex-basis: var(--col8);
    margin-bottom: var(--vertical-margin-small);

    & .line {
      border-left: solid 12px var(--lightgray);
    }
  }

  .subcategoryList {
    flex-basis: var(--col8);
  }

  .item {
    flex-wrap: wrap;
    border-left: none;
    margin-bottom: var(--vertical-margin-small);
  }
}

@media (--small) {
  .subcategoryTitle {
    & .line {
      border-left: solid 12px var(--lightgray);
    }
  }

  .itemName {
    flex-basis: var(--col8);
    margin-bottom: var(--vertical-margin-xsmall);
  }

  .itemBrief {
    flex-basis: var(--col8);
  }
}
