name: Update Processing Releases

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 16
      uses: actions/setup-node@v4
      with:
        node-version: 16
    - name: Install dependencies
      run: npm install
    - name: Fetch releases
      run: |
        npm run fetchReleases
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        title: 'Update releases'
        branch: update-releases
        add-paths: |
          content/download/*.json
      
